.container {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
}
.grid-4 {
  zoom: 1;
}
.grid-4:before,
.grid-4:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.grid-4:after {
  clear: both;
}
.grid-3 {
  zoom: 1;
}
.grid-3:before,
.grid-3:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.grid-3:after {
  clear: both;
}
.grid-2 {
  zoom: 1;
}
.grid-2:before,
.grid-2:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.grid-2:after {
  clear: both;
}
.header .btn .icon {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -2px;
  background-image: url("../img/sprite-icon.png");
}
.fixed-wrapper {
  position: absolute;
  top: 0;
}
.fixed-wrapper .topbar,
.fixed-wrapper .navbar,
.fixed-wrapper .subnav {
  position: fixed;
  position: device-fixed;
  width: 100%;
  z-index: 100;
}
.fixed-wrapper .navbar {
  margin-top: 40px;
  z-index: 101;
}
.fixed-wrapper .subnav {
  margin-top: 110px;
}
.header {
  padding-top: 110px;
  margin-bottom: 30px;
}
.header .topbar {
  background: url("../img/topbar-bg.png");
  height: 40px;
  overflow: hidden;
}
.header .topbar .nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.header .topbar .nav:first-child {
  right: 50%;
  margin-right: 50px;
}
.header .topbar .nav:last-child {
  left: 50%;
  margin-left: 50px;
}
.header .topbar .nav li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  z-index: 2;
}
.header .topbar .nav li a {
  height: 40px;
  line-height: 40px;
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 13px;
  margin: 0 15px;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.header .topbar .nav li a:hover {
  color: #ffa300;
}
.header .topbar .nav li.active a {
  border-top: 2px solid #d25c04;
  height: 38px;
  line-height: 37px;
  color: #ffa300;
}
.header .navbar {
  height: 70px;
  background: #d25c04 url("../img/navbar-bg.png") repeat-x;
}
.header .navbar .logo {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  display: block;
  box-shadow: 0 -3px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 -3px 0 rgba(0,0,0,0.2);
}
.header .navbar .logo img {
  display: block;
  max-width: 100%;
}
.header .navbar .logo-lion {
  background-image: url("../img/navbar-lion.png");
  width: 100px;
  height: 114px;
  display: block;
  position: absolute;
  right: 50%;
  top: -31px;
  margin-right: -50px;
  z-index: 3;
}
.header .navbar .tray {
  float: right;
  margin-top: 18px;
}
.header .navbar .tray .form {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.header .navbar .tray .form input {
  display: none;
  overflow: hidden;
  width: 0;
}
.header .btn {
  border: 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  padding: 0 11px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.133);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.133);
  background-color: #777;
  color: #f8f8f8;
  cursor: pointer;
  margin-right: 5px;
  transition: background 0.15s !important;
  -webkit-transition: background 0.15s !important;
  -moz-transition: background 0.15s !important;
  -ms-transition: background 0.15s !important;
  -o-transition: background 0.15s !important;
  overflow: visible;
}
.header .btn:last-child {
  margin-right: 0;
}
.header .btn.-grey,
.header .btn.-dark,
.header .btn.-darken {
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.333);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.333);
}
.header .btn.-white {
  color: #23211e;
  background-color: #fff;
}
.header .btn.-lighten {
  color: #23211e;
  background-color: #f8f8f8;
}
.header .btn.-light {
  color: #23211e;
  background-color: #ededed;
}
.header .btn.-grey {
  color: #fff;
  background-color: #53595b;
}
.header .btn.-dark {
  color: #fff;
  background-color: #393e3f;
}
.header .btn.-darken {
  color: #fff;
  background-color: #23211e;
}
.header .btn.-orange {
  color: #fff;
  background-color: #d25c04;
}
.header .btn.-blue {
  color: #fff;
  background-color: #007cbe;
}
.header .btn.-green {
  color: #fff;
  background-color: #2e9200;
}
.header .btn.-cyan {
  color: #fff;
  background-color: #00909d;
}
.header .btn.-purple {
  color: #fff;
  background-color: #ba6eca;
}
.header .btn.-yellow {
  color: #fff;
  background-color: #ffa300;
}
.header .btn.-red {
  color: #fff;
  background-color: #ce3202;
}
.header .btn.-olive {
  color: #fff;
  background-color: #989d0f;
}
.header .btn.-light,
.header .btn.-lighten {
  color: #53595b;
  text-shadow: 0 1px 1px #fff;
}
.header .btn:hover {
  opacity: 0.9;
}
.header .btn.-tooltip {
  position: relative;
  background: #393e3f;
  background: rgba(0,0,0,0.333);
  box-shadow: inset 0 2px 0 rgba(0,0,0,0.067);
  -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,0.067);
  font-weight: lighter;
}
.header .btn.-tooltip:after {
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: 50%;
  border: 5px solid;
  margin-left: -5px;
  border-color: rgba(0,0,0,0.333) transparent;
  border-bottom: none;
}
.header .btn .icon.-arrow-down {
  background-position: -25px 0px;
}
.header .btn .icon.-arrow-left-small {
  background-position: -25px -100px;
}
.header .btn .icon.-arrow-left {
  background-position: 0px -25px;
}
.header .btn .icon.-arrow-right-small {
  background-position: -25px -25px;
}
.header .btn .icon.-arrow-right {
  background-position: -50px 0px;
}
.header .btn .icon.-arrow-up {
  background-position: -50px -25px;
}
.header .btn .icon.-attache {
  background-position: 0px -50px;
}
.header .btn .icon.-back {
  background-position: -25px -50px;
}
.header .btn .icon.-checkbox-off {
  background-position: -50px -50px;
}
.header .btn .icon.-checkbox-on {
  background-position: -75px 0px;
}
.header .btn .icon.-clock {
  background-position: -75px -25px;
}
.header .btn .icon.-company-consulting {
  background-position: -75px -50px;
}
.header .btn .icon.-company-education {
  background-position: 0px -75px;
}
.header .btn .icon.-company-finance {
  background-position: -25px -75px;
}
.header .btn .icon.-company-large {
  background-position: -50px -75px;
}
.header .btn .icon.-company-logistics {
  background-position: -75px -75px;
}
.header .btn .icon.-company-marketing {
  background-position: -100px 0px;
}
.header .btn .icon.-company-middle {
  background-position: -100px -25px;
}
.header .btn .icon.-company-production {
  background-position: -100px -50px;
}
.header .btn .icon.-company-sales {
  background-position: -100px -75px;
}
.header .btn .icon.-company-small {
  background-position: 0px -100px;
}
.header .btn .icon.-company-tourism {
  background-position: 0px 0px;
}
.header .btn .icon.-door-open-dark {
  background-position: -50px -100px;
}
.header .btn .icon.-door-open {
  background-position: -75px -100px;
}
.header .btn .icon.-dots-orange {
  background-position: -100px -100px;
}
.header .btn .icon.-dots-white {
  background-position: -125px 0px;
}
.header .btn .icon.-edit {
  background-position: -125px -25px;
}
.header .btn .icon.-facebook {
  background-position: -125px -50px;
}
.header .btn .icon.-handshake {
  background-position: -125px -75px;
}
.header .btn .icon.-improvement {
  background-position: -125px -100px;
}
.header .btn .icon.-info-dark {
  background-position: 0px -125px;
}
.header .btn .icon.-info {
  background-position: -25px -125px;
}
.header .btn .icon.-linkedin {
  background-position: -50px -125px;
}
.header .btn .icon.-minus {
  background-position: -75px -125px;
}
.header .btn .icon.-plus {
  background-position: -100px -125px;
}
.header .btn .icon.-reload {
  background-position: -125px -125px;
}
.header .btn .icon.-remove-dark {
  background-position: -150px 0px;
}
.header .btn .icon.-remove {
  background-position: -150px -25px;
}
.header .btn .icon.-search-dark {
  background-position: -150px -50px;
}
.header .btn .icon.-tick {
  background-position: -150px -75px;
}
.header .btn .icon.-twitter {
  background-position: -150px -100px;
}
.header .btn .icon.-vk {
  background-position: -150px -125px;
}
.header .btn .avatar {
  margin: 1px 10px 0 -10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  float: left;
  position: relative;
  overflow: hidden;
}
.header .btn .avatar img {
  display: block;
  margin: 0;
}
.header .btn .avatar:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.333);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.333);
}
.header input[type=text],
.header input[type=password] {
  height: 20px;
  padding: 6px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.067), 0 0 0 1px rgba(0,0,0,0.133);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.067), 0 0 0 1px rgba(0,0,0,0.133);
  margin-right: 5px;
}
.header input:focus,
.header button:focus,
.header textarea:focus {
  outline: none;
}
.header .group {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 5px;
  margin: 0;
  vertical-align: top;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
}
body .header .group > * {
  border-radius: 0;
  -webkit-border-radius: 0;
  margin: 0 !important;
  display: block;
  float: left;
  border-left: 1px solid rgba(0,0,0,0.133);
  margin-left: -1px;
}
body .header .group > *:first-child {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-left: none;
  margin-left: 0;
}
body .header .group > *:last-child {
  border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
}
#login_form {
  position: absolute;
  right: 51px;
  top: 18px;
  background: #fbfbfb;
  width: 200px;
  padding: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  display: none;
  overflow: hidden;
}
#login_form .wrapper {
  float: right;
}
#login_form .title {
  text-align: right;
  margin: -14px -9px 10px 0;
}
#login_form input[type=text],
#login_form input[type=password] {
  display: block;
  margin: 0 0 10px;
  width: 188px;
}
#login_form .social {
  width: 240px;
  margin: 0 -20px 20px;
}
#login_form .social td {
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  border-left: 1px solid #ededed;
}
#login_form .social td:first-child {
  border-left: none;
}
#login_form .social td a {
  display: block;
  padding: 18px 0;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
}
#login_form .social td a:hover {
  position: relative;
  background: #ededed;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.133);
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.133);
}
#login_form .social td a i {
  vertical-align: middle;
}
