@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic-ext");
body {
  font-family: 'Open Sans', 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}
.price {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background-image: url("../img/coin-bw.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  line-height: ;
  padding-left: 26px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 23px;
  line-height: 20px;
  font-weight: normal;
}
.text-orange {
  color: #d25c04;
}
.text-blue {
  color: #007cbe;
}
.text-green {
  color: #2e9200;
}
.text-cyan {
  color: #00909d;
}
.text-purple {
  color: #ba6eca;
}
.text-yellow {
  color: #ffa300;
}
.text-red {
  color: #ce3202;
}
.text-olive {
  color: #989d0f;
}
.text-white {
  color: #fff;
}
.text-lighten {
  color: #f8f8f8;
}
.text-light {
  color: #ededed;
}
.text-grey {
  color: #53595b;
}
.text-dark {
  color: #393e3f;
}
.text-darken {
  color: #23211e;
}
.bg-orange {
  color: #fff;
  background-color: #d25c04;
}
.bg-blue {
  color: #fff;
  background-color: #007cbe;
}
.bg-green {
  color: #fff;
  background-color: #2e9200;
}
.bg-cyan {
  color: #fff;
  background-color: #00909d;
}
.bg-purple {
  color: #fff;
  background-color: #ba6eca;
}
.bg-yellow {
  color: #fff;
  background-color: #ffa300;
}
.bg-red {
  color: #fff;
  background-color: #ce3202;
}
.bg-olive {
  color: #fff;
  background-color: #989d0f;
}
.bg-white {
  background-color: #fff;
}
.bg-lighten {
  background-color: #f8f8f8;
}
.bg-light {
  background-color: #ededed;
}
.bg-grey {
  color: #fff;
  background-color: #53595b;
}
.bg-dark {
  color: #fff;
  background-color: #393e3f;
}
.bg-darken {
  color: #fff;
  background-color: #23211e;
}
.table {
  border-collapse: collapse;
  border: none;
  background: none;
  margin: 10px 0;
  border-top: 1px solid #d3d3d3;
}
.table th {
  color: #777;
}
.table th,
.table td {
  font-size: 14px;
  border: none;
  background: #f8f8f8;
  background: none;
  padding: 5px;
  border-bottom: 1px solid #d3d3d3;
}
.table.table-list th {
  padding-left: 0;
}
.table.table-list td {
  font-weight: bold;
  text-align: right;
  padding-right: 0;
}
.btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 11px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.133);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.133);
  background-color: #777;
  color: #f8f8f8;
  cursor: pointer;
  margin-right: 5px;
}
.btn:last-child {
  margin-right: 0;
}
.btn.-grey,
.btn.-dark,
.btn.-darken {
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.333);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.333);
}
.btn.-white {
  color: #23211e;
  background-color: #fff;
}
.btn.-lighten {
  color: #23211e;
  background-color: #f8f8f8;
}
.btn.-light {
  color: #23211e;
  background-color: #ededed;
}
.btn.-grey {
  color: #fff;
  background-color: #53595b;
}
.btn.-dark {
  color: #fff;
  background-color: #393e3f;
}
.btn.-darken {
  color: #fff;
  background-color: #23211e;
}
.btn.-orange {
  color: #fff;
  background-color: #d25c04;
}
.btn.-blue {
  color: #fff;
  background-color: #007cbe;
}
.btn.-green {
  color: #fff;
  background-color: #2e9200;
}
.btn.-cyan {
  color: #fff;
  background-color: #00909d;
}
.btn.-purple {
  color: #fff;
  background-color: #ba6eca;
}
.btn.-yellow {
  color: #fff;
  background-color: #ffa300;
}
.btn.-red {
  color: #fff;
  background-color: #ce3202;
}
.btn.-olive {
  color: #fff;
  background-color: #989d0f;
}
.btn:hover {
  opacity: 0.9;
}
.btn.-flat {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn.-unhover {
  cursor: default;
}
.btn.-unhover:hover {
  opacity: 1;
}
.label {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: auto;
  line-height: 20px;
  font-size: 13px;
  padding: 0 6px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 2px 0 rgba(0,0,0,0.133), inset 0 0 1px rgba(0,0,0,0.133), 0 1px 0 rgba(255,255,255,0.067);
  -webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,0.133), inset 0 0 1px rgba(0,0,0,0.133), 0 1px 0 rgba(255,255,255,0.067);
  background-color: rgba(0,0,0,0.133);
  cursor: pointer;
  text-shadow: none;
}
.label.-white {
  color: #23211e;
  background-color: #fff;
}
.label.-lighten {
  color: #23211e;
  background-color: #f8f8f8;
}
.label.-light {
  color: #23211e;
  background-color: #ededed;
}
.label.-grey {
  color: #fff;
  background-color: #53595b;
}
.label.-dark {
  color: #fff;
  background-color: #393e3f;
}
.label.-darken {
  color: #fff;
  background-color: #23211e;
}
.label.-orange {
  color: #fff;
  background-color: #d25c04;
}
.label.-blue {
  color: #fff;
  background-color: #007cbe;
}
.label.-green {
  color: #fff;
  background-color: #2e9200;
}
.label.-cyan {
  color: #fff;
  background-color: #00909d;
}
.label.-purple {
  color: #fff;
  background-color: #ba6eca;
}
.label.-yellow {
  color: #fff;
  background-color: #ffa300;
}
.label.-red {
  color: #fff;
  background-color: #ce3202;
}
.label.-olive {
  color: #fff;
  background-color: #989d0f;
}
.ratio .ratio-row {
  height: 60px;
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  box-shadow: 0 1px 2px rgba(0,0,0,0.067);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.067);
  margin-bottom: 6px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  white-space: nowrap;
  position: relative;
}
.ratio .ratio-row.-current {
  box-shadow: 0 1px 2px rgba(0,0,0,0.067), inset 0 0 10px rgba(210,92,4,0.3);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.067), inset 0 0 10px rgba(210,92,4,0.3);
  border: 3px solid #d25c04;
  margin: 0 -3px 6px;
}
.ratio .ratio-row > span {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  color: #484848;
  font-size: 18px;
  vertical-align: top;
  position: relative;
}
.ratio .ratio-row > span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
  height: 100%;
  width: 1px;
  background: url("../img/ratio-row-vdivider.png") no-repeat;
}
.ratio .ratio-row > span img {
  display: inline;
  vertical-align: middle;
}
.ratio .ratio-row .place {
  font-size: 30px;
}
.ratio .ratio-row .place:before {
  background: none;
}
.ratio .ratio-row .place.-place-1 {
  background: url("../img/ratio-place-bg.png") no-repeat 50% 7px;
}
.ratio .ratio-row .place.-place-2 {
  background: url("../img/ratio-place-bg.png") no-repeat 50% -64px;
}
.ratio .ratio-row .place.-place-3 {
  background: url("../img/ratio-place-bg.png") no-repeat 50% -133px;
}
.ratio .ratio-row .change {
  color: #fff;
  font-size: 11px;
  width: 30px;
  margin-right: 15px;
}
.ratio .ratio-row .change:before {
  background: none;
}
.ratio .ratio-row .change.-up {
  line-height: 72px;
  background: url("../img/ratio-place-up.png") no-repeat 50% 50%;
}
.ratio .ratio-row .change.-down {
  line-height: 48px;
  background: url("../img/ratio-place-down.png") no-repeat 50% 50%;
}
.ratio .ratio-row .change.-same {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  background: url("../img/ratio-place-same.png") no-repeat 50% 50%;
}
.ratio .ratio-row .level {
  color: #fff;
  background: url("../img/ratio-level-bg.png") no-repeat 50% 50%;
}
.ratio .ratio-row .user {
  width: auto;
  text-align: left;
  padding: 0 20px;
  font-size: 16px;
}
.ratio .ratio-row .user img.avatar {
  margin-right: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 0 1px #f00;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 0 1px #f00;
}
.ratio .ratio-row .ratio {
  color: #d25c04;
  position: absolute;
  top: 0;
  right: 0;
}
.ratio-legend {
  background: url("../img/bg-btn-navbar.png");
  border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 510px;
  position: relative;
}
.ratio-legend:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,0.133);
  margin-top: -8px;
}
.ratio-legend table {
  border-collapse: collapse;
  height: 510px;
  width: 100%;
  position: relative;
}
.ratio-legend td {
  background: none;
  padding: 0;
  border-left: 1px solid rgba(255,255,255,0.067);
}
.ratio-legend td div {
  background: url("../img/ratio-legend-bg.png") no-repeat -25px 50%;
  height: 510px;
  width: 78px;
  margin: 0 auto;
  color: #fff;
  position: relative;
}
.ratio-legend td .title,
.ratio-legend td .count {
  position: absolute;
  text-align: center;
}
.ratio-legend td .title {
  width: 100%;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.ratio-legend td .count {
  background: #d25c04;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  left: 50%;
  width: 32px;
  margin-left: -16px;
}
.ratio-legend td.platinum div {
  background-position: -715px 50%;
}
.ratio-legend td.platinum div .title {
  top: 30px;
}
.ratio-legend td.platinum div .count {
  top: 135px;
}
.ratio-legend td.gold div {
  background-position: -600px 50%;
}
.ratio-legend td.gold div .title {
  top: 80px;
}
.ratio-legend td.gold div .count {
  top: 185px;
}
.ratio-legend td.silver div {
  background-position: -485px 50%;
}
.ratio-legend td.silver div .title {
  top: 130px;
}
.ratio-legend td.silver div .count {
  top: 235px;
}
.ratio-legend td.bronze div {
  background-position: -370px 50%;
}
.ratio-legend td.bronze div .title {
  top: 190px;
}
.ratio-legend td.bronze div .count {
  top: 295px;
}
.ratio-legend td.stone div {
  background-position: -255px 50%;
}
.ratio-legend td.stone div .title {
  top: 250px;
}
.ratio-legend td.stone div .count {
  top: 355px;
}
.ratio-legend td.wood div {
  background-position: -140px 50%;
}
.ratio-legend td.wood div .title {
  top: 300px;
}
.ratio-legend td.wood div .count {
  top: 405px;
}
.ratio-legend td.stub div .title {
  top: 360px;
}
.ratio-legend td.stub div .count {
  top: 465px;
}
.news .news-row {
  zoom: 1;
  background: #ededed;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.067);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.067);
  position: relative;
  padding-left: 200px;
  min-height: 140px;
}
.news .news-row:before,
.news .news-row:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.news .news-row:after {
  clear: both;
}
.news .news-row.-white {
  color: #23211e;
  background-color: #fff;
}
.news .news-row.-lighten {
  color: #23211e;
  background-color: #f8f8f8;
}
.news .news-row.-light {
  color: #23211e;
  background-color: #ededed;
}
.news .news-row.-grey {
  color: #fff;
  background-color: #53595b;
}
.news .news-row.-dark {
  color: #fff;
  background-color: #393e3f;
}
.news .news-row.-darken {
  color: #fff;
  background-color: #23211e;
}
.news .news-row.-orange {
  color: #fff;
  background-color: #d25c04;
}
.news .news-row.-blue {
  color: #fff;
  background-color: #007cbe;
}
.news .news-row.-green {
  color: #fff;
  background-color: #2e9200;
}
.news .news-row.-cyan {
  color: #fff;
  background-color: #00909d;
}
.news .news-row.-purple {
  color: #fff;
  background-color: #ba6eca;
}
.news .news-row.-yellow {
  color: #fff;
  background-color: #ffa300;
}
.news .news-row.-red {
  color: #fff;
  background-color: #ce3202;
}
.news .news-row.-olive {
  color: #fff;
  background-color: #989d0f;
}
.news .news-row .btn {
  margin-bottom: 0;
}
.news .news-row .btn-close {
  display: block;
  background: #bababa url("../img/icons-20/remove.png") no-repeat 50% 50%;
  width: 23px;
  height: 23px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  cursor: pointer;
}
.news .news-row .btn-close:hover {
  background-color: #d25c04;
}
.news .news-row .pull-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.news .news-row .thumb {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 140px;
  height: 100%;
  line-height: 140px;
  text-align: center;
  background: #a1a1a1;
  padding: 0 20px;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  box-shadow: inset -3px 0 0 rgba(0,0,0,0.067);
  -webkit-box-shadow: inset -3px 0 0 rgba(0,0,0,0.067);
}
.news .news-row .thumb img {
  margin-top: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  max-width: 140px;
  max-height: 140px;
}
.news .news-row h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 15px;
}
.news dl dt {
  float: left;
}
.news dl dd {
  float: right;
}
