html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/**************************************************************************
	lib/placeholders
**************************************************************************/
body { font-family: "Trebuchet MS", Arial, sans-serif; font-size: 14px; line-height: 20px; }

body { background: url('../img/bg-body.png?1380381986'); padding: 0 0 50px; }

.container { *zoom: 1; max-width: 59em; _width: 59em; padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto; }
.container:after { content: ""; display: table; clear: both; }

.navbar { background: url('../img/bg-navbar.png?1380383474') repeat-x 50% 0; height: 70px; position: relative; margin-bottom: 50px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
.navbar .logo { background: url('../img/logo-navbar.png?1380383605') repeat-x 50% 0; position: absolute; width: 119px; height: 104px; top: 0; left: 50%; margin-left: -63px; }

p { margin: 0 0 10px 0; }

small { font-size: 85%; }

cite { font-style: normal; }

/* OVERRIDE ME */
h1, .h1 { font-size: 23px; }

h2, .h2 { font-size: 20px; }

h3, .h3 { font-size: 18px; }

h4, .h4 { font-size: 16px; }

h5, .h5 { font-size: 14px; }

h6, .h6 { font-size: 12px; }

h1, .h2 { font-size: 19px; font-weight: normal; color: #5f676a; text-align: center; padding: 20px; }

h2, .h2 { color: #3b4042; text-align: center; font-size: 16px; margin: 20px 0 10px; }

a { color: #e69300; }

hr { border: none; height: 1px; overflow: hidden; background: #000; opacity: .1; margin: 20px 0; }

ul, ol { margin-top: 0; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }

.-color-1, .-bg-blue { background-color: #007cbe !important; color: #FFF; }

.-color-2, .-bg-green { background-color: #2e9200 !important; color: #FFF; }

.-color-3, .-bg-cyan { background-color: #00909d !important; color: #FFF; }

.-color-4, .-bg-purple { background-color: #ba6eca !important; color: #FFF; }

.-color-5, .-bg-yellow { background-color: #ffa300 !important; color: #FFF; }

.-color-6, .-bg-red { background-color: #a44c25 !important; color: #FFF; }

.-color-7, .-bg-olive { background-color: #989d0f !important; color: #FFF; }

.-text-color-1, .-text-blue { color: #007cbe !important; }

.-text-color-2, .-text-green { color: #2e9200 !important; }

.-text-color-3, .-text-cyan { color: #00909d !important; }

.-text-color-4, .-text-purple { color: #ba6eca !important; }

.-text-color-5, .-text-yellow { color: #ffa300 !important; }

.-text-color-6, .-text-red { color: #aa3333 !important; }

.-text-color-7, .-text-olive { color: #989d0f !important; }

.thumb { position: relative; margin-bottom: 10px; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; overflow: hidden; *zoom: 1; float: left; margin-right: 20px; }
.thumb img { display: block; }
.thumb .caption { position: absolute; bottom: 0; left: 0; width: 100%; min-height: 25px; padding: 14px 0 0 0; text-align: center; color: #FFF; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); background: url('../img/thumb-caption-bg.png?1381384466') repeat-x 0 0; z-index: 2; }

.btn-group, .btn { padding: 0 10px; overflow: hidden; margin: 0 0 5px 0; position: relative; height: 36px; line-height: 36px; text-decoration: none; white-space: nowrap; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.btn-group.-right, .btn-group .btn-group.-right, .btn.-right, .btn-group .btn.-right { display: block; float: right; margin-left: 5px; }
.btn-group.-left, .btn-group .btn-group.-left, .btn.-left, .btn-group .btn.-left { display: block; float: left; margin-right: 5px; }
.btn-group.-tiny, .btn-group.-tiny .btn, .btn.-tiny, .btn.-tiny .btn { height: 20px; line-height: 20px; }
.btn-group.-tiny, .btn-group.-tiny > .btn-group, .btn.-tiny, .btn.-tiny > .btn-group, .btn-group.-tiny > .btn, .btn.-tiny > .btn { padding: 0 5px; }
.btn-group.-large, .-large > .btn-group, .btn.-large, .-large > .btn { height: 50px; line-height: 50px; padding: 0 15px; }
.btn-group.-blue, .btn.-blue { background-color: #007cbe; color: #FFF; border-color: #005b8b; }
.btn-group.-green, .btn.-green { background-color: #2e9200; color: #FFF; border-color: #1e5f00; }
.btn-group.-cyan, .btn.-cyan { background-color: #00909d; color: #FFF; border-color: #00616a; }
.btn-group.-purple, .btn.-purple { background-color: #ba6eca; color: #FFF; border-color: #a849bc; }
.btn-group.-yellow, .btn.-yellow { background-color: #ffa300; color: #FFF; border-color: #cc8200; }
.btn-group.-red, .btn.-red { background-color: #aa3333; color: #FFF; border-color: #832727; }
.btn-group.-olive, .btn.-olive { background-color: #989d0f; color: #FFF; border-color: #6b6e0b; }
.btn-group.-white, .btn.-white { background-color: white; color: #393e3f; border-color: #e6e6e6; }
.btn-group.-light, .btn.-light { background-color: #ececec; color: #393e3f; border-color: lightgray; }
.btn-group.-grey, .btn.-grey { background-color: #53595b; color: #FFF; border-color: #3b3f40; }
.btn-group.-dark, .btn.-dark { background-color: #393e3f; color: #FFF; border-color: #212424; }
.btn-group.-wide, .btn.-wide { display: block; text-align: center; position: relative; }
.btn-group.-wide .btn.-wide, .btn.-wide .btn.-wide { float: none; text-align: left; position: absolute; width: 100%; }
.btn-group.-wide .btn.-float, .btn.-wide .btn.-float { position: relative; float: right; z-index: 1; }
.btn-group.-tiny, .btn.-tiny { padding: 0 5px; }
