html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**************************************************************************
	lib/placeholders
**************************************************************************/
body, table {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

/**************************************************************************
	base/common
**************************************************************************/
body {
  background: url('../img/bg-body.png?1380410786'); }

.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.pull-right {
  display: block;
  float: right; }

.pull-left {
  display: block;
  float: left; }

.center {
  display: block;
  margin: 0 auto; }

.-left {
  float: left; }

.-right {
  float: right; }

.-radius {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

hr {
  border: none;
  border-bottom: 1px solid #d5d7d8;
  margin: 50px 0; }

.balance {
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
  .balance .coin {
    background: url('../img/coin.png?1380727462') no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px; }
  .balance .digit-group {
    display: block;
    float: left;
    height: 30px;
    margin: 5px 3px 0 0; }
  .balance .digit {
    background: url('../img/digits.png?1380727868') no-repeat;
    width: 20px;
    height: 30px;
    display: block;
    float: left;
    margin-left: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }

.btn-group.selector .btn.selector-value {
  padding-left: 10px;
  padding-right: 10px; }

.hide {
  display: none; }

.show {
  display: inherit; }

.text-small {
  font-size: 12px; }

.text-normal {
  font-size: 14px; }

.text-large {
  font-size: 18px; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.-disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

.text-white {
  color: #FFF; }

.price {
  background: url('../img/coin-bw.png?1380736466') no-repeat 0 50%;
  padding-left: 25px;
  height: 23px;
  line-height: 23px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

.padding-0 {
  padding: 0 !important; }

.-color-1, .-bg-blue {
  background-color: #007cbe !important;
  color: #FFF; }

.-color-2, .-bg-green {
  background-color: #2e9200 !important;
  color: #FFF; }

.-color-3, .-bg-cyan {
  background-color: #00909d !important;
  color: #FFF; }

.-color-4, .-bg-purple {
  background-color: #ba6eca !important;
  color: #FFF; }

.-color-5, .-bg-yellow {
  background-color: #ffa300 !important;
  color: #FFF; }

.-color-6, .-bg-red {
  background-color: #a44c25 !important;
  color: #FFF; }

.-color-7, .-bg-olive {
  background-color: #989d0f !important;
  color: #FFF; }

.-text-color-1, .-text-blue {
  color: #007cbe !important; }

.-text-color-2, .-text-green {
  color: #2e9200 !important; }

.-text-color-3, .-text-cyan {
  color: #00909d !important; }

.-text-color-4, .-text-purple {
  color: #ba6eca !important; }

.-text-color-5, .-text-yellow {
  color: #ffa300 !important; }

.-text-color-6, .-text-red {
  color: #A33 !important; }

.-text-color-7, .-text-olive {
  color: #989d0f !important; }

.label.-factory-power {
  position: absolute;
  width: 140px;
  padding: 0;
  text-align: center;
  margin-left: -70px;
  top: 180px;
  left: 50%; }

/**************************************************************************
	base/typography
**************************************************************************/
p {
  margin: 0 0 0 0; }

small {
  font-size: 85%; }

cite {
  font-style: normal; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

h1, .h1 {
  font-size: 23px; }

h2, .h2 {
  font-size: 20px; }

h3, .h3 {
  font-size: 18px; }

h4, .h4 {
  font-size: 16px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

h1, .h2 {
  font-size: 19px;
  font-weight: normal;
  color: #5f676a;
  text-align: center;
  padding: 20px; }

h2, .h2 {
  color: #3b4042;
  text-align: center;
  font-size: 16px;
  margin: 20px 0 10px; }

ul, ol {
  margin-top: 0; }
  ul ul,
  ul ol, ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

blockquote:before, blockquote:after {
  content: ""; }

/**************************************************************************
	base/table
**************************************************************************/
table {
  border-collapse: separate;
  border-spacing: 0 2px;
  font-size: 12px;
  margin-bottom: 3px; }
  table.-wide {
    width: 100%; }
  table.-text-middle td, table.-text-middle th {
    vertical-align: middle; }
  table td, table th {
    background: #ebebeb;
    padding: 5px; }
    table td:first-child, table th:first-child {
      -moz-border-radius: 2px 0 0 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px 0 0 2px; }
    table td:last-child, table th:last-child {
      -moz-border-radius: 0 2px 2px 0;
      -webkit-border-radius: 0;
      border-radius: 0 2px 2px 0; }
    table td > *,
    table td .btn,
    table td .btn-group, table th > *,
    table th .btn,
    table th .btn-group {
      margin-bottom: 0; }
  table th {
    padding: 10px 5px; }
  table img {
    display: block; }
  table .thumb {
    margin: 0; }
  table .-grabpad {
    margin: -5px; }
  table .-grabvpad {
    margin: -5px 0; }
  table .-grabhpad {
    margin: 0 -5px; }
  table.-dark th {
    background: #272b2c;
    color: #7d7f80; }
  table.-dark td {
    background: #393e3f;
    color: #FFF; }
  table th.-compact,
  table td.-compact {
    width: 1%; }

/**************************************************************************
	base/form
**************************************************************************/
/**************************************************************************
	components/grid
**************************************************************************/
.row {
  clear: both;
  overflow: hidden;
  *zoom: 1; }

.row-2 {
  clear: both;
  overflow: hidden;
  *zoom: 1; }
  .row-2 .col {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
    @media only screen and (max-width: 500px) {
      .row-2 .col {
        width: 100%;
        float: left;
        margin-right: 1.69492%;
        display: inline; }
        .row-2 .col:nth-child(2n) {
          float: left;
          margin-right: 1.69492%;
          *margin-left: auto; } }

.row-3 {
  clear: both;
  overflow: hidden;
  *zoom: 1; }
  .row-3 .col {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
    @media only screen and (max-width: 780px) {
      .row-3 .col {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
        display: inline; }
        .row-3 .col:nth-child(3n) {
          float: left;
          margin-right: 1.69492%;
          *margin-left: auto; }
        .row-3 .col:nth-child(2n) {
          float: right;
          margin-right: 0;
          *margin-left: -1em; } }
    @media only screen and (max-width: 500px) {
      .row-3 .col {
        width: 100%;
        float: left;
        margin-right: 1.69492%;
        display: inline; }
        .row-3 .col:nth-child(2n) {
          float: left;
          margin-right: 1.69492%;
          *margin-left: auto; } }

.row-4 {
  clear: both;
  overflow: hidden;
  *zoom: 1; }
  .row-4 .col {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
    @media only screen and (max-width: 780px) {
      .row-4 .col {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
        display: inline; }
        .row-4 .col:nth-child(4n) {
          float: left;
          margin-right: 1.69492%;
          *margin-left: auto; }
        .row-4 .col:nth-child(2n) {
          float: right;
          margin-right: 0;
          *margin-left: -1em; } }

.row-5 {
  clear: both;
  overflow: hidden;
  *zoom: 1; }
  .row-5 .col {
    width: 18.36735%;
    float: left;
    margin-right: 2.04082%;
    display: inline; }

.row-6 {
  clear: both;
  overflow: hidden;
  *zoom: 1; }
  .row-6 .col {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
    @media only screen and (max-width: 780px) {
      .row-6 .col {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%;
        display: inline; }
        .row-6 .col:nth-child(6n) {
          float: left;
          margin-right: 1.69492%;
          *margin-left: auto; }
        .row-6 .col:nth-child(4n) {
          float: right;
          margin-right: 0;
          *margin-left: -1em; } }
    @media only screen and (max-width: 500px) {
      .row-6 .col {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        display: inline; }
        .row-6 .col:nth-child(4n) {
          float: left;
          margin-right: 1.69492%;
          *margin-left: auto; }
        .row-6 .col:nth-child(3n) {
          float: right;
          margin-right: 0;
          *margin-left: -1em; } }

.col, div[class*='col-'] {
  min-height: 1px; }

.row-1 .col:nth-child(1n), .row-1 div[class*='col-']:nth-child(1n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em; }

.row-2 .col:nth-child(2n), .row-2 div[class*='col-']:nth-child(2n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em; }

.row-3 .col:nth-child(3n), .row-3 div[class*='col-']:nth-child(3n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em; }

.row-4 .col:nth-child(4n), .row-4 div[class*='col-']:nth-child(4n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em; }

.row-5 .col:nth-child(5n), .row-5 div[class*='col-']:nth-child(5n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em; }

.row-6 .col:nth-child(6n), .row-6 div[class*='col-']:nth-child(6n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em; }

.col-1 {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-2 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-3 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-4 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-5 {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-6 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-7 {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-8 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-9 {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-10 {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-11 {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

.col-12 {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline; }

@media only screen and (max-width: 780px) {
  .tablet-hide {
    display: none !important; } }

@media only screen and (max-width: 780px) {
  .tablet-wide {
    display: block;
    width: 100%; } }

/**************************************************************************
	components/buttons
**************************************************************************/
.btn-group, .btn {
  margin: 0 0 5px 0;
  position: relative;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
  .btn-group.-right, .btn-group .btn-group.-right, .btn.-right, .btn-group .btn.-right {
    display: block;
    float: right;
    margin-left: 5px; }
  .btn-group.-left, .btn-group .btn-group.-left, .btn.-left, .btn-group .btn.-left {
    display: block;
    float: left;
    margin-right: 5px; }
  .btn-group .btn-text, .btn .btn-text {
    position: relative;
    z-index: 2; }
  .btn-group .elem-progress, .btn .elem-progress {
    height: 100%;
    z-index: 1; }
  .btn-group.-tiny, .btn-group.-tiny .btn, .btn.-tiny, .btn.-tiny .btn {
    height: 20px;
    line-height: 20px; }
  .btn-group.-tiny, .btn-group.-tiny > .btn-group, .btn.-tiny, .btn.-tiny > .btn-group, .btn-group.-tiny > .btn, .btn.-tiny > .btn {
    padding: 0 5px; }
  .btn-group.-large, .-large > .btn-group, .btn.-large, .-large > .btn {
    height: 50px;
    line-height: 50px;
    padding: 0 15px; }
  .btn-group.-circle, .btn.-circle {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    padding: 0;
    text-align: center;
    line-height: 100px;
    border-width: 5px;
    border-style: solid; }
  .btn-group.-blue, .btn.-blue {
    background-color: #007cbe;
    color: #FFF;
    border-color: #005b8b; }
  .btn-group.-green, .btn.-green {
    background-color: #2e9200;
    color: #FFF;
    border-color: #1e5f00; }
  .btn-group.-cyan, .btn.-cyan {
    background-color: #00909d;
    color: #FFF;
    border-color: #00616a; }
  .btn-group.-purple, .btn.-purple {
    background-color: #ba6eca;
    color: #FFF;
    border-color: #a849bc; }
  .btn-group.-yellow, .btn.-yellow {
    background-color: #ffa300;
    color: #FFF;
    border-color: #cc8200; }
  .btn-group.-red, .btn.-red {
    background-color: #A33;
    color: #FFF;
    border-color: #832727; }
  .btn-group.-olive, .btn.-olive {
    background-color: #989d0f;
    color: #FFF;
    border-color: #6b6e0b; }
  .btn-group.-white, .btn.-white {
    background-color: #FFF;
    color: #393e3f;
    border-color: #e6e6e6; }
  .btn-group.-light, .btn.-light {
    background-color: #ececec;
    color: #393e3f;
    border-color: lightgray; }
  .btn-group.-grey, .btn.-grey {
    background-color: #53595b;
    color: #FFF;
    border-color: #3b3f40; }
  .btn-group.-dark, .btn.-dark {
    background-color: #393e3f;
    color: #FFF;
    border-color: #212424; }
  .btn-group.-wide, .btn.-wide {
    display: block;
    text-align: center;
    position: relative; }
    .btn-group.-wide .btn.-wide, .btn.-wide .btn.-wide {
      float: none;
      text-align: left;
      position: absolute;
      width: 100%; }
    .btn-group.-wide .btn.-float, .btn.-wide .btn.-float {
      position: relative;
      float: right;
      z-index: 1; }
  .btn-group.-tiny, .btn.-tiny {
    padding: 0 5px; }

.btn-group {
  overflow: hidden; }

.btn {
  padding: 0 10px;
  overflow: hidden; }
  .btn img {
    display: block;
    float: left;
    margin: 3px 5px 3px -7px; }
  .btn .icon {
    margin-top: -4px; }
  .btn .coin {
    background: url('../img/coin-small.png?1380733688') no-repeat;
    height: 21px;
    width: 20px;
    margin: -5px 0 0 0;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
  .btn.-balance {
    color: #FFF;
    font-weight: bold; }
  .btn.-staff {
    background-repeat: no-repeat;
    background-position: 5px 100%;
    padding-left: 40px; }
    .btn.-staff.-large, .-large > .btn.-staff {
      background-position: 5px 50%;
      padding-left: 50px; }
    .btn.-staff.-factory {
      background-image: url('../img/icons-40/factory.png?1401236766'); }
    .btn.-staff.-wirehouse {
      background-image: url('../img/icons-40/wirehouse.png'); }
    .btn.-staff.-logistician {
      background-image: url('../img/icons-40/logistician.png?1401236772'); }
    .btn.-staff.-recruitment {
      background-image: url('../img/icons-40/recruitment.png?1401236774'); }
    .btn.-staff.-trainer {
      background-image: url('../img/icons-40/trainer.png?1401236774'); }
    .btn.-staff.-worker {
      background-image: url('../img/icons-40/worker.png?1401236776'); }
    .btn.-staff.-unknown {
      background-image: url('../img/icons-40/unknown.png?1401236774'); }
    .btn.-staff.-boss {
      background-image: url('../img/icons-40/boss.png?1401236766'); }
    .btn.-staff.-boss-1 {
      background-image: url('../img/icons-40/boss-1.png?1401236760'); }
    .btn.-staff.-boss-2 {
      background-image: url('../img/icons-40/boss-2.png?1401236762'); }
    .btn.-staff.-boss-3 {
      background-image: url('../img/icons-40/boss-3.png?1401236762'); }
    .btn.-staff.-boss-4 {
      background-image: url('../img/icons-40/boss-4.png?1401236764'); }
    .btn.-staff.-boss-5 {
      background-image: url('../img/icons-40/boss-5.png?1401236764'); }
    .btn.-staff.-boss-6 {
      background-image: url('../img/icons-40/boss-6.png?1401236764'); }
    .btn.-staff.-boss-7 {
      background-image: url('../img/icons-40/boss-7.png?1401236764'); }
    .btn.-staff.-boss-8 {
      background-image: url('../img/icons-40/boss-8.png?1401236764'); }
    .btn.-staff.-boss-9 {
      background-image: url('../img/icons-40/boss-9.png?1401236764'); }
    .btn.-staff.-boss-10 {
      background-image: url('../img/icons-40/boss-10.png?1401236760'); }
    .btn.-staff.-boss-11 {
      background-image: url('../img/icons-40/boss-11.png?1401236760'); }
    .btn.-staff.-boss-12 {
      background-image: url('../img/icons-40/boss-12.png?1401236760'); }
    .btn.-staff.-boss-13 {
      background-image: url('../img/icons-40/boss-13.png?1401236762'); }
    .btn.-staff.-boss-14 {
      background-image: url('../img/icons-40/boss-14.png?1401236762'); }
    .btn.-staff.-boss-15 {
      background-image: url('../img/icons-40/boss-15.png?1401236762'); }
  .btn.-icon-only {
    background-position: 50% 50% !important;
    padding-right: 0; }
  .btn .label {
    padding: 0 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }

.btn-group .btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: block;
  float: left;
  border-left-width: 1px;
  border-left-style: solid; }
  .btn-group .btn:first-child {
    border: none; }

a.btn:hover, button.btn:hover {
  -moz-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1; }
  a.btn:hover.-disabled, button.btn:hover.-disabled {
    cursor: default;
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit; }

.elem-progress {
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #FFF;
  -moz-box-shadow: 0 0 3ox rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3ox rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3ox rgba(0, 0, 0, 0.5); }
  .elem-progress.-blue {
    background-color: #007cbe; }
  .elem-progress.-green {
    background-color: #2e9200; }
  .elem-progress.-cyan {
    background-color: #00909d; }
  .elem-progress.-purple {
    background-color: #ba6eca; }
  .elem-progress.-yellow {
    background-color: #ffa300; }
  .elem-progress.-red {
    background-color: #A33; }
  .elem-progress.-olive {
    background-color: #989d0f; }
  .elem-progress.-white {
    background-color: #FFF; }
  .elem-progress.-light {
    background-color: #ececec; }
  .elem-progress.-grey {
    background-color: #53595b; }
  .elem-progress.-dark {
    background-color: #393e3f; }

.-production-btn {
  position: absolute;
  left: 50%;
  margin-left: -55px;
  top: 50px;
  z-index: 3;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px; }
  .-production-btn:hover {
    position: absolute !important; }

/**************************************************************************
	components/labels
**************************************************************************/
.label {
  text-decoration: none;
  padding: 0 15px;
  margin: 3px 0;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  .label.-rounded {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; }
  .label.-right {
    display: block;
    float: right;
    margin-left: 5px; }
  .label.-blue {
    background-color: #007cbe;
    color: #FFF;
    border-color: #005b8b; }
  .label.-green {
    background-color: #2e9200;
    color: #FFF;
    border-color: #1e5f00; }
  .label.-cyan {
    background-color: #00909d;
    color: #FFF;
    border-color: #00616a; }
  .label.-purple {
    background-color: #ba6eca;
    color: #FFF;
    border-color: #a849bc; }
  .label.-yellow {
    background-color: #ffa300;
    color: #FFF;
    border-color: #cc8200; }
  .label.-white {
    background-color: #FFF;
    color: #393e3f;
    border-color: #e6e6e6; }
  .label.-light {
    background-color: #ececec;
    color: #393e3f;
    border-color: lightgray; }
  .label.-grey {
    background-color: #53595b;
    color: #FFF;
    border-color: #3b3f40; }
  .label.-dark {
    background-color: #393e3f;
    color: #FFF;
    border-color: #212424; }
  .label.-red {
    background-color: #A33;
    color: #FFF;
    border-color: #832727; }
  .label.-olive {
    background-color: #989d0f;
    color: #FFF;
    border-color: #6b6e0b; }
  .label.-dark-trans {
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    border-color: #212424; }
  .label.-white-trans {
    color: #333;
    background: rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); }
  .label .elem-progress {
    height: 2px; }

.progress-bar {
  text-decoration: none;
  display: block;
  background: #53595b;
  height: 20px;
  line-height: 20px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1); }
  .progress-bar.-rounded {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; }
  .progress-bar .progress {
    position: absolute;
    background: #ffa300;
    height: 100%;
    -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    .progress-bar .progress.-blue {
      background-color: #007cbe; }
    .progress-bar .progress.-green {
      background-color: #2e9200; }
    .progress-bar .progress.-cyan {
      background-color: #00909d; }
    .progress-bar .progress.-purple {
      background-color: #ba6eca; }
    .progress-bar .progress.-yellow {
      background-color: #ffa300; }
    .progress-bar .progress.-white {
      background-color: #FFF; }
    .progress-bar .progress.-light {
      background-color: #ececec; }
    .progress-bar .progress.-grey {
      background-color: #53595b; }
    .progress-bar .progress.-dark {
      background-color: #393e3f; }
    .progress-bar .progress.-red {
      background-color: #A33; }
    .progress-bar .progress.-olive {
      background-color: #989d0f; }
  .progress-bar .text {
    position: absolute;
    left: 7px;
    top: 0; }
  .progress-bar .percents {
    position: absolute;
    right: 7px;
    top: 0; }
  .progress-bar.-blue {
    background-color: #007cbe; }
  .progress-bar.-green {
    background-color: #2e9200; }
  .progress-bar.-cyan {
    background-color: #00909d; }
  .progress-bar.-purple {
    background-color: #ba6eca; }
  .progress-bar.-yellow {
    background-color: #ffa300; }
  .progress-bar.-white {
    background-color: #FFF; }
  .progress-bar.-light {
    background-color: #ececec; }
  .progress-bar.-grey {
    background-color: #53595b; }
  .progress-bar.-dark {
    background-color: #393e3f; }
  .progress-bar.-red {
    background-color: #A33; }
  .progress-bar.-olive {
    background-color: #989d0f; }

/**************************************************************************
	components/modals
**************************************************************************/
.modal-content, .modal-data, .modal-close {
  display: none; }

/* Overlay */
#modal_overlay {
  background-color: #000; }

/* Container */
#modal_container {
  overflow: hidden;
  background: #eee url('../img/bg-body.png?1380410786');
  color: #000;
  width: 600px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 0 64px #000;
  -webkit-box-shadow: 0 0 64px #000;
  box-shadow: 0 0 64px #000; }
  #modal_container .modal-title {
    color: #ececec;
    background: url('../img/bg-navbar.png?1380412274') repeat-x 0 100%;
    padding: 16px 60px 18px 20px;
    height: 22px;
    line-height: 22px;
    overflow: hidden; }
  #modal_container .modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 30px;
    width: 30px;
    padding: 0;
    background: rgba(0, 0, 0, 0.1) url('../img/icons-20/remove.png?1380731078') no-repeat 50% 50%;
    cursor: pointer;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; }
    #modal_container .modal-close:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }
  #modal_container .modal-data {
    padding: 20px; }

.modal-slider {
  height: 190px; }
  .modal-slider .slide .panel-header {
    font-size: 14px;
    padding-bottom: 4px;
    line-height: 18px; }
  .modal-slider .slide .thumb {
    margin-bottom: 0; }

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../img/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 0;
  background: url(../img/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 0;
  background: url(../img/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.resource {
  text-align: center;
  padding-bottom: 50px; }
  .resource .resource-title {
    font-weight: bold;
    margin: 0 0 10px 0; }
  .resource.-lock {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
    .resource.-lock * {
      cursor: default !important; }
    .resource.-lock .thumb:after {
      content: ' ';
      background: url('../img/lock.png?1381413550') no-repeat 50% 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }
  .resource .thumb {
    position: relative;
    height: 140px;
    display: block;
    width: auto;
    padding: 10px;
    margin: 0; }
    .resource .thumb.-small {
      height: 100px; }
      .resource .thumb.-small img {
        width: 100px; }
    .resource .thumb img {
      display: block;
      margin: 0 auto; }

/**************************************************************************
	ui/icons
**************************************************************************/
.icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

.icon.-remove {
  background-image: url('../img/icons-20/remove.png?1380731078'); }

.icon.-handshake {
  background-image: url('../img/icons-20/handshake.png?1380766034'); }

.icon.-info {
  background-image: url('../img/icons-20/info.png?1380766438'); }

.icon.-info-dark {
  background-image: url('../img/icons-20/info-dark.png?1398098054'); }

.icon.-plus {
  background-image: url('../img/icons-20/plus.png?1381091136'); }

.icon.-minus {
  background-image: url('../img/icons-20/minus.png?1381091128'); }

.icon.-door-open {
  background-image: url('../img/icons-20/door-open.png?1381106456'); }

.icon.-arrow-left {
  background-image: url('../img/icons-20/arrow-left.png?1383270744'); }

.icon.-arrow-right {
  background-image: url('../img/icons-20/arrow-right.png?1383270768'); }

.icon.-arrow-up {
  background-image: url('../img/icons-20/arrow-up.png?1383270802'); }

.icon.-arrow-down {
  background-image: url('../img/icons-20/arrow-down.png?1383270786'); }

.icon.-reload {
  background-image: url('../img/icons-20/reload.png?1397688472'); }

.icon.-improvement {
  background-image: url('../img/icons-20/improvement.png?1394154612'); }

.icon.-edit {
  background-image: url('../img/icons-20/edit.png?1394154800'); }

.icon.-tick {
  background-image: url('../img/icons-20/tick.png?1397691224'); }

/**************************************************************************
	ui/navbar
**************************************************************************/
.header {
  margin-bottom: 50px !important; }

.navbar-footer {
  background: url('../img/topbar-bg.png?1410329810');
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  height: 51px;
  position: fixed;
  width: 100%;
  margin-top: -50px;
  z-index: 100; }
  .navbar-footer .btn {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    float: none;
    margin-top: 9px;
    margin-left: 10px;
    vertical-align: top;
    background-image: none;
    color: #FFF;
    text-shadow: none;
    height: 32px;
    line-height: 32px;
    background: url('../img/bg-navbar.png?1380412274') repeat-x 50% 0;
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3) !important;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3) !important; }
  .navbar-footer .game-progress {
    background: url('../img/bg-progress-250.png?1424109505') no-repeat 0 0;
    height: 45px;
    width: 289px;
    float: left;
    position: relative;
    margin: 3px 0 0 6px; }
    .navbar-footer .game-progress .progress-bar {
      width: 214px;
      background: none;
      position: absolute;
      top: 15px;
      left: 39px;
      padding: 0;
      margin: 0;
      border-radius: 0; }
      .navbar-footer .game-progress .progress-bar .progress {
        background: url('../img/bg-progress-bar-250.png?1424109771') no-repeat;
        width: 100%;
        height: 14px;
        border-radius: 0 2px 2px 0;
        text-align: center;
        line-height: 14px;
        font-size: 10px;
        color: #201B15;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }
    .navbar-footer .game-progress .game-ratio {
      width: 43px;
      height: 100%;
      line-height: 45px;
      text-align: center;
      color: #FFF;
      font-size: 16px;
      position: relative;
      z-index: 1;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
    .navbar-footer .game-progress .game-ratio-target {
      position: absolute;
      right: 0;
      top: 15px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      width: 40px;
      font-size: 10px;
      color: #fff;
      font-weight: bold;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      opacity: 0.8; }
  .navbar-footer .ratio {
    background: url('../img/bg-ratio-navbar.png?1380726902');
    width: 42px;
    height: 42px;
    margin-top: 5px;
    color: #d45e04;
    font-size: 22px;
    text-align: center;
    line-height: 42px;
    font-family: Arial;
    float: left; }
  .navbar-footer .digit.-d1 {
    background-position: 0 -30px; }
  .navbar-footer .digit.-d2 {
    background-position: 0 -60px; }
  .navbar-footer .digit.-d3 {
    background-position: 0 -90px; }
  .navbar-footer .digit.-d4 {
    background-position: 0 -120px; }
  .navbar-footer .digit.-d5 {
    background-position: 0 -150px; }
  .navbar-footer .digit.-d6 {
    background-position: 0 -180px; }
  .navbar-footer .digit.-d7 {
    background-position: 0 -210px; }
  .navbar-footer .digit.-d8 {
    background-position: 0 -240px; }
  .navbar-footer .digit.-d9 {
    background-position: 0 -270px; }
  .navbar-footer .digit.-arrows {
    background-position: 0 -300px; }
  .navbar-footer .digit.-arrows-down {
    background-position: 0 -330px; }
  .navbar-footer .digit.-arrows-up {
    background-position: 0 -360px; }
  .navbar-footer .gold-coin {
    background: url('../img/gold-coin.png?1424157239') no-repeat 50% 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #602E02;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    display: inline-block;
    vertical-align: top;
    margin: 8px 0 0 6px;
    transition: all .5s linear;
    transform-style: preserve-3d;
    transform-origin: center center; }
    .navbar-footer .gold-coin.flip {
      transform: rotateY(360deg); }
  .navbar-footer .game-move {
    background: #e06700;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    padding-right: 0;
    overflow: hidden;
    font-weight: bold; }
    .navbar-footer .game-move, .navbar-footer .game-move * {
      font-size: 17px; }
    .navbar-footer .game-move:hover small {
      padding: 0 10px 0 15px;
      margin-left: 5px; }
    .navbar-footer .game-move small {
      transition: all .2s;
      position: relative;
      font-weight: normal;
      display: inline-block;
      background: #da5200;
      padding: 0 10px 0 20px;
      color: #FFCFA3; }
      .navbar-footer .game-move small:before, .navbar-footer .game-move small:after {
        position: absolute;
        content: '';
        border-style: solid;
        border-right: none;
        border-color: transparent #FFF;
        border-width: 20px 10px;
        top: 50%;
        left: 2px;
        margin-top: -20px; }
      .navbar-footer .game-move small:after {
        left: 0;
        border-color: transparent #e06700; }

/**************************************************************************
	ui/tabs
**************************************************************************/
.tabs {
  margin: -3px 0 0 0;
  background: url('../img/bg-tabs.png?1380728986') no-repeat 50% 0; }
  .tabs ul {
    *zoom: 1;
    max-width: 59em;
    _width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 41px;
    padding-top: 3px; }
    .tabs ul:after {
      content: "";
      display: table;
      clear: both; }
    .tabs ul li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin-right: -6px; }
      .tabs ul li:first-child {
        background: url('../img/tabs-divider.png?1380729336') no-repeat 0 100%; }
      .tabs ul li a {
        background: url('../img/tabs-divider.png?1380729336') no-repeat 100% 100%;
        display: block;
        height: 37px;
        line-height: 37px;
        padding: 0 30px;
        text-transform: uppercase;
        text-decoration: none;
        color: #434546;
        font-size: 13px; }
        .tabs ul li a:hover {
          background-color: rgba(0, 0, 0, 0.05); }

.subtabs {
  background: url('../img/subtabs-h-divider.png?1380729830') no-repeat 50% 100%;
  margin-top: -5px; }
  .subtabs > ul {
    *zoom: 1;
    max-width: 59em;
    _width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 34px;
    padding-top: 2px; }
    .subtabs > ul:after {
      content: "";
      display: table;
      clear: both; }
    .subtabs > ul > li {
      height: 34px;
      background: url('../img/tabs-divider.png?1380729336') no-repeat 100% 100%;
      margin-left: -6px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .subtabs > ul > li:first-child > a {
        background: url('../img/tabs-divider.png?1380729336') no-repeat 0 100%; }
      .subtabs > ul > li > a {
        display: block;
        height: 34px;
        line-height: 34px;
        padding: 0 15px;
        text-decoration: none;
        color: #434546;
        font-size: 12px; }
      .subtabs > ul > li.-active {
        background: #809197; }
        .subtabs > ul > li.-active > a {
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          color: #FFF; }
      .subtabs > ul > li:hover > ul {
        display: block; }
      .subtabs > ul > li > ul {
        display: none;
        position: absolute;
        left: 0;
        z-index: 1;
        background: url('../img/bg-btn-navbar.png?1380725122');
        -moz-box-shadow: 0 0 21px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 21px rgba(0, 0, 0, 0.3); }
        .subtabs > ul > li > ul a {
          text-decoration: none;
          color: #FFF;
          display: block;
          padding: 4px 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          min-width: 50px;
          font-size: 12px; }
          .subtabs > ul > li > ul a:hover {
            text-decoration: underline; }

/**************************************************************************
	ui/panels
**************************************************************************/
.panel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden; }
  .panel.-dark-trans, .panel.-white-trans, .panel.-blue, .panel.-green, .panel.-cyan, .panel.-purple, .panel.-yellow, .panel.-red, .panel.-olive, .panel.-white, .panel.-light, .panel.-grey, .panel.-dark {
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 3px;
    color: #FFF; }
  .panel.-dark-trans {
    background: rgba(0, 0, 0, 0.4); }
  .panel.-white-trans, .panel.-white {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .panel.-white-trans {
    color: #393e3f;
    background: rgba(255, 255, 255, 0.5); }
  .panel.-blue {
    background-color: #007cbe;
    color: #FFF;
    border-color: #005b8b; }
  .panel.-green {
    background-color: #2e9200;
    color: #FFF;
    border-color: #1e5f00; }
  .panel.-cyan {
    background-color: #00909d;
    color: #FFF;
    border-color: #00616a; }
  .panel.-purple {
    background-color: #ba6eca;
    color: #FFF;
    border-color: #a849bc; }
  .panel.-yellow {
    background-color: #ffa300;
    color: #FFF;
    border-color: #cc8200; }
  .panel.-red {
    background-color: #A33;
    color: #FFF;
    border-color: #832727; }
  .panel.-olive {
    background-color: #989d0f;
    color: #FFF;
    border-color: #6b6e0b; }
  .panel.-white {
    background-color: #FFF;
    color: #393e3f;
    border-color: #e6e6e6; }
  .panel.-light {
    background-color: #dfdfdf;
    color: #393e3f;
    border-color: #c6c6c6; }
  .panel.-grey {
    background-color: #53595b;
    color: #FFF;
    border-color: #3b3f40; }
  .panel.-dark {
    background-color: #393e3f;
    color: #FFF;
    border-color: #212424; }
  .panel.-staff {
    min-height: 150px; }
    .panel.-staff.-small {
      min-height: 100px; }
      .panel.-staff.-small img {
        margin-left: -50px;
        left: 15%;
        height: 100px;
        top: 50%;
        margin-top: -50px; }
      .panel.-staff.-small .info {
        width: 70%; }
    .panel.-staff img {
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 20%;
      margin-top: -70px;
      margin-left: -70px;
      -moz-border-radius: 200px;
      -webkit-border-radius: 200px;
      border-radius: 200px; }
    .panel.-staff .info {
      width: 60%;
      position: relative;
      float: right;
      text-align: center;
      z-index: 1; }
      .panel.-staff .info .label {
        min-width: 50px; }
    .panel.-staff .btn .label {
      min-width: 0; }
    .panel.-staff .username {
      position: absolute;
      text-align: center;
      width: 50%;
      text-decoration: none;
      color: #ececec;
      font-size: 13px; }
  .panel.-staff-org, .panel.-btn-panel, .panel.-thumb {
    padding: 10px; }
    .panel.-staff-org > .panel-header, .panel.-btn-panel > .panel-header, .panel.-thumb > .panel-header {
      margin-top: -10px; }
    .panel.-staff-org .row-2, .panel.-staff-org .row-3, .panel.-staff-org .row-4, .panel.-btn-panel .row-2, .panel.-btn-panel .row-3, .panel.-btn-panel .row-4, .panel.-thumb .row-2, .panel.-thumb .row-3, .panel.-thumb .row-4 {
      margin-bottom: -10px; }
    .panel.-staff-org > *:last-child, .panel.-btn-panel > *:last-child, .panel.-thumb > *:last-child {
      margin-bottom: 0 !important; }
  .panel .panel-header {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
    .panel .panel-header .label {
      margin-top: -1px; }
  .panel.-white .panel-header, .panel.-white-trans .panel-header, .panel.-light .panel-header {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); }
  .panel .icon.-info {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    z-index: 2;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3; }
    .panel .icon.-info:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
  .panel .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    z-index: 2; }
  .panel .panel-controls {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    height: 20px; }
    .panel .panel-controls .icon {
      width: 20px;
      height: 20px;
      position: static;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
      opacity: 0.3; }
      .panel .panel-controls .icon:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1; }
  .panel .selector {
    position: absolute;
    top: 5px;
    left: 25%;
    margin-left: -35px; }
  .panel .info li {
    background: url('../img/info-h-divider.png?1380735842') repeat-x 0 100%;
    padding: 3px 8px 5px; }
    .panel .info li:last-child {
      background: none;
      padding-bottom: 3px; }
    .panel .info li .btn, .panel .info li .btn-group {
      margin: 5px 0; }
    .panel .info li .btn-group .btn {
      margin: 0; }
    .panel .info li dl {
      font-size: 13px;
      overflow: hidden;
      *zoom: 1; }
    .panel .info li dt {
      float: left;
      color: #afb0b0;
      font-weight: normal; }
    .panel .info li dd {
      float: right; }
  .panel > .panel:last-child {
    margin-bottom: 0; }
  .panel h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-bottom: 20px; }
  .panel.-list {
    padding: 0; }
    .panel.-list > * {
      display: block;
      padding: 5px 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer; }
      .panel.-list > *:last-child {
        border: none; }
      .panel.-list > *:hover {
        background-color: #ececec; }
    .panel.-list > label {
      padding-left: 30px; }
      .panel.-list > label input[type=radio], .panel.-list > label input[type=checkbox] {
        float: left;
        margin-left: -20px; }
    .panel.-list .thumb {
      float: right;
      display: block;
      border: none;
      padding: 10px;
      background: #FFF;
      margin: 0;
      -moz-box-shadow: -5px 0 5px #FFF;
      -webkit-box-shadow: -5px 0 5px #FFF;
      box-shadow: -5px 0 5px #FFF; }
      .panel.-list .thumb img {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin: 0;
        max-height: 200px; }
  .panel.-product .thumb {
    margin: 3px; }
  .panel.-product .selector {
    left: inherit;
    right: 0; }
  .panel.-product .title {
    vertical-align: middle;
    display: inline; }
  .panel .btn_more {
    display: block;
    clear: both;
    background: #53595b;
    color: #FFF;
    line-height: 50px;
    height: 50px;
    margin: 0 -3px -3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-top: 3px solid #212424;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0;
    border-radius: 0 0 3px 3px; }
    .panel .btn_more:hover {
      -moz-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3) inset, 0 0 5px rgba(0, 0, 0, 0.3);
      position: relative;
      z-index: 1; }
    .panel .btn_more.-blue {
      background-color: #007cbe;
      color: #FFF;
      border-color: #005b8b; }
    .panel .btn_more.-green {
      background-color: #2e9200;
      color: #FFF;
      border-color: #1e5f00; }
    .panel .btn_more.-cyan {
      background-color: #00909d;
      color: #FFF;
      border-color: #00616a; }
    .panel .btn_more.-purple {
      background-color: #ba6eca;
      color: #FFF;
      border-color: #a849bc; }
    .panel .btn_more.-yellow {
      background-color: #ffa300;
      color: #FFF;
      border-color: #cc8200; }
    .panel .btn_more.-red {
      background-color: #A33;
      color: #FFF;
      border-color: #832727; }
    .panel .btn_more.-olive {
      background-color: #989d0f;
      color: #FFF;
      border-color: #6b6e0b; }
    .panel .btn_more.-white {
      background-color: #FFF;
      color: #393e3f;
      border-color: #e6e6e6; }
    .panel .btn_more.-light {
      background-color: #ececec;
      color: #393e3f;
      border-color: lightgray; }
    .panel .btn_more.-grey {
      background-color: #53595b;
      color: #FFF;
      border-color: #3b3f40; }
    .panel .btn_more.-dark {
      background-color: #393e3f;
      color: #FFF;
      border-color: #212424; }
  .panel .footer {
    display: block;
    clear: both;
    background: #2d3132;
    color: #FFF;
    min-height: 50px;
    margin: 0 -3px -3px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; }
    .panel .footer .btn {
      margin: 5px 2.5px; }

.thumb {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  *zoom: 1; }
  .thumb.-circle img {
    -moz-border-radius: 9999px;
    -webkit-border-radius: 9999px;
    border-radius: 9999px; }
  .thumb.-left {
    float: left;
    margin-right: 10px; }
  .thumb img {
    display: block; }
  .thumb .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 25px;
    padding: 14px 0 0 0;
    text-align: center;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background: url('../img/thumb-caption-bg.png?1381413266') repeat-x 0 0;
    z-index: 2; }
  .thumb .lock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0 0 50px black;
    -webkit-box-shadow: inset 0 0 50px black;
    box-shadow: inset 0 0 50px black; }
  .thumb.-lock img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
  .thumb.-lock .caption {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7; }
  .thumb.-lock .lock {
    background: url('../img/lock.png?1381413550') no-repeat 50% 40%; }

a.thumb:hover .lock {
  -moz-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5); }

.slide .panel-header {
  padding: 0; }

.resources {
  background: url('../img/info-h-divider.png?1380735842') repeat-x 0 0;
  padding-top: 5px; }
  .resources .res {
    display: block;
    float: left;
    position: relative;
    padding: 17px 3px 0 0; }
    .resources .res img {
      display: block; }
    .resources .res .count {
      display: block;
      width: 30px;
      line-height: 16px;
      height: 16px;
      position: absolute;
      top: 0;
      left: 4px;
      background: #bf4300;
      border: 1px solid #bf4300;
      border-bottom: none;
      font-size: 11px;
      text-align: center;
      -moz-box-shadow: inset 0 2px 10px #a40000;
      -webkit-box-shadow: inset 0 2px 10px #a40000;
      box-shadow: inset 0 2px 10px #a40000;
      -moz-border-radius: 2px 2px 0 0;
      -webkit-border-radius: 2px;
      border-radius: 2px 2px 0 0; }

.tooltip {
  position: absolute;
  z-index: 2;
  min-width: 50px;
  padding: 3px 10px;
  background: #000;
  color: #FFF;
  font-size: 12px;
  text-align: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  .tooltip:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 5px 5px;
    border-color: #000 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -5px;
    left: 50%;
    margin-left: -5px; }
