@import "lib/init";
@import "compass/reset";
@import "normalize";
@import "lib/placeholders";

body {
	@extend %default-font;
	background: image-url('bg-body.png');
	padding:    0 0 50px;
}

.container {
	@include container;
}

.navbar {
	background:    image-url('bg-navbar.png') repeat-x 50% 0;
	height:        70px;
	position:      relative;
	margin-bottom: 50px;

	@include box-shadow(0 1px 3px rgba(0,0,0,.2));

	.logo {
		background:  image-url('logo-navbar.png') repeat-x 50% 0;
		position:    absolute;
		width:       119px;
		height:      104px;
		top:         0;
		left:        50%;
		margin-left: -63px;
	}
}

p {
	margin: 0 0 10px 0;
}

// Emphasis & misc
small {
	font-size: 85%;
}

// Undo browser default styling
cite {
	font-style: normal;
}

/* OVERRIDE ME */
//-------------------------------------------------------------------------
// Headings
//-------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	// font-family: $headings-font-family;
	// font-weight: $headings-font-weight;
	// line-height: $headings-line-height;
	// color:       $headings-color;
}
h1, .h1 {font-size: $h1-font-size;}
h2, .h2 {font-size: $h2-font-size;}
h3, .h3 {font-size: $h3-font-size;}
h4, .h4 {font-size: $h4-font-size;}
h5, .h5 {font-size: $h5-font-size;}
h6, .h6 {font-size: $h6-font-size;}



h1, .h2 {
	font-size:   19px;
	font-weight: normal;
	color:       #5f676a;
	text-align:  center;
	padding:     20px;
}

h2, .h2 {
	color:      darken(#5f676a, 15%);
	text-align: center;
	font-size:  16px;
	margin:     20px 0 10px;

}

a {
	color: darken($yellow, 5%);
}

hr {
	border:none;
	height: 1px;
	overflow: hidden;
	background: #000;
	opacity:.1;
	margin: 20px 0;
}

//-------------------------------------------------------------------------
// Lists
//-------------------------------------------------------------------------

// Unordered and Ordered lists
ul, ol {
	margin-top: 0;
	// margin-bottom: (@line-height-computed / 2);
	ul,
	ol{
		margin-bottom: 0;
	}
}

.-color-1, .-bg-blue {background-color: $color1 !important; color: #FFF}
.-color-2, .-bg-green {background-color: $color2 !important; color: #FFF}
.-color-3, .-bg-cyan {background-color: $color3 !important; color: #FFF}
.-color-4, .-bg-purple {background-color: $color4 !important; color: #FFF}
.-color-5, .-bg-yellow {background-color: $color5 !important; color: #FFF}
.-color-6, .-bg-red {background-color: $color6 !important; color: #FFF}
.-color-7, .-bg-olive {background-color: $color7 !important; color: #FFF}

.-text-color-1, .-text-blue {color: $blue !important}
.-text-color-2, .-text-green {color: $green !important}
.-text-color-3, .-text-cyan {color: $cyan !important}
.-text-color-4, .-text-purple {color: $purple !important}
.-text-color-5, .-text-yellow{color: $yellow !important}
.-text-color-6, .-text-red {color: $red !important}
.-text-color-7, .-text-olive {color: $olive !important}



.thumb {
	position: relative;
	margin-bottom: 10px;
	@include inline-block;
	@include clearfix;
	float: left;
	margin-right: 20px;

	img {
		display: block;
	}
	.caption {
		position:    absolute;
		bottom:      0;
		left:        0;
		width:       100%;
		min-height:  25px;
		padding:     14px 0 0 0;
		text-align:  center;
		color:       #FFF;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
		background:  image-url('thumb-caption-bg.png') repeat-x 0 0;
		z-index:     2;
	}
}


.btn-group, .btn {
	padding:  0 10px;
	overflow: hidden;
	margin:          0 0 5px 0;
	position:        relative;
	height:          36px;
	line-height:     36px;
	text-decoration: none;
	white-space: nowrap;

	@include border-radius(2px);
	@include inline-block;

	&.-right, .btn-group &.-right {
		display:     block;
		float:       right;
		margin-left: 5px;
	}

	&.-left, .btn-group &.-left {
		display:     block;
		float:       left;
		margin-right: 5px;
	}

	&.-tiny, &.-tiny .btn {
		height:      20px;
		line-height: 20px;
	}
	&.-tiny, &.-tiny > & {
		padding: 0 5px;
	}

	&.-large, .-large > & {
		height:      50px;
		line-height: 50px;
		padding:     0 15px;
	}

	// &.-large, &.-tiny {
	// 	padding: 0;
	// }

	&.-blue {background-color: $blue; color:#FFF; border-color:darken($blue, 10%)}
	&.-green {background-color: $green; color:#FFF; border-color:darken($green, 10%)}
	&.-cyan {background-color: $cyan; color:#FFF; border-color:darken($cyan, 10%)}
	&.-purple {background-color: $purple; color:#FFF; border-color:darken($purple, 10%)}
	&.-yellow{background-color: $yellow; color:#FFF; border-color:darken($yellow, 10%)}
	&.-red{background-color: $red; color:#FFF; border-color:darken($red, 10%)}
	&.-olive{background-color: $olive; color:#FFF; border-color:darken($olive, 10%)}

	&.-white{background-color: $white; color:#393e3f; border-color:darken($white, 10%)}
	&.-light{background-color: $light; color:#393e3f; border-color:darken($light, 10%)}
	&.-grey{background-color: $grey; color:#FFF; border-color:darken($grey, 10%)}
	&.-dark{background-color: $dark; color:#FFF; border-color:darken($dark, 10%)}

	&.-wide {
		display:    block;
		text-align: center;
		position: relative;

		.btn.-wide {
			float:      none;
			text-align: left;
			position:   absolute;
			width:      100%;
		}
		.btn.-float {
			position: relative;
			float:    right;
			z-index:  1;
		}
	}

	&.-tiny {
		padding: 0 5px;
	}
}