grey-colors()
	&.-white
		color            $darken
		background-color $white
	&.-lighten
		color            $darken
		background-color $lighten
	&.-light
		color            $darken
		background-color $light
	&.-grey
		color            $white
		background-color $grey
	&.-dark
		color            $white
		background-color $dark
	&.-darken
		color            $white
		background-color $darken

accent-colors()
	&.-orange
		color            $white
		background-color $orange
	&.-blue
		color            $white
		background-color $blue
	&.-green
		color            $white
		background-color $green
	&.-cyan
		color            $white
		background-color $cyan
	&.-purple
		color            $white
		background-color $purple
	&.-yellow
		color            $white
		background-color $yellow
	&.-red
		color            $white
		background-color $red
	&.-olive
		color            $white
		background-color $olive

colors()
	grey-colors()
	accent-colors()