//-------------------------------------------------------------------------

//- -var staff_classes = ['-boss', '-financier', '-marketer', '-manager', '-worker']

include _mixins

//-------------------------------------------------------------------------

block vars

-var menu_tabs    = ['Компания', 'Рынок', 'Новости']
-var menu_subtabs = ['Производство', 'Маркетинг', 'Финансы', 'Персонал']

-var title         = title || 'Гордость'
-var active_tab    = active_tab || 0
-var active_subtab = active_subtab || 0

//-------------------------------------------------------------------------

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		+css(['global.css'])
		+js(['jquery.min.js'])
		title: =title
	body

		block content