//-------------------------------------------------------------------------

-var staff_classes = ['-boss', '-financier', '-marketer', '-manager', '-worker']

include _mixins

//-------------------------------------------------------------------------

- var topbar_menu_l = {}, topbar_menu_r = {}

-topbar_menu_l['company-list.html'] = 'Компании'
-topbar_menu_l['vacancy-list.html'] = 'Вакансии'

-topbar_menu_r['#bs']       = 'Бизнес Симулятор'
-topbar_menu_r['blog-list'] = 'Тусовка'

//--------------------------------------------------------------------------


block vars

-var menu_tabs    = ['Компания', 'Рынок', 'Новости']
-var menu_subtabs = ['Производство', 'Маркетинг', 'Финансы', 'Персонал']

-var title         = title || 'Гордость'
-var active_tab    = active_tab || 0
-var active_subtab = active_subtab || 0
- is_login = true;
- topbar_active = topbar_active || 'Бизнес Симулятор'
//-------------------------------------------------------------------------

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		+css(['style.css', 'global.css', 'absolute.css'])
		+js(['jquery.min.js', 'jquery.simplemodal.min.js', 'jquery.bxslider.min.js', 'common.min.js'])
		script(src='http://gordo.st/js/global.js')
		title: =title
	body

		//- .navbar

		//- 	.navbar-content.container

		//- 		.btn-group
		//- 			+btn На главную
		//- 			+btn.-active Управление

		//- 		.logo

		//- 		.pull-right
		//- 			.btn-group: +btn Результаты
		//- 			.divider
		//- 			.btn-group.-message-count
		//- 				+btn 3
		//- 				.caret
		//- 			.divider
		//- 			.btn-group.btn-dropdown.-user: +btn: +img('userpic-34.png')

		//- 	//.navbar-content


		//- //.navbar

		+block.header
			+block.fixed-wrapper
				+block.topbar
					.container
						+list-menu(topbar_menu_l, topbar_active).nav
						+list-menu(topbar_menu_r, topbar_active).nav

				+block.navbar
					.container
						+link('/').logo: +img('navbar-logo.png')
						+link('/').logo-lion

						+block#tray.tray
							if is_login
								+btn.-tooltip 15
								.group
									+btn.-white
										span.avatar: +lorem-img(30,30,'abstract')
										|Username
									+btn.-white.-compact: i.icon.-remove-dark
							else
								a(id='login_btn', class='btn -white', data-target='login_form') Вход / Регистрация

							form#navbar_search.form.group
								+input-text('search')(id='navbar_search_field')
								button#navbar_search_btn.btn.-white: i.icon.-search-dark

						+block#login_form.form
							.wrapper
								.title Вход / Регистрация
								table.social
									tr
										td: +link: i.icon.-vk
										td: +link: i.icon.-facebook
										td: +link: i.icon.-twitter
										td: +link: i.icon.-linkedin
								+input-text('email')(placeholder='E-mail')
								+input-password('password')(placeholder='Пароль')
								label.checkbox
									+input-checkbox('save')
									span Запомнить
								button.btn.-orange.-right OK
								button.btn.-link Забыли пароль

		.navbar-footer
			.container
				.ratio 38
				.game-progress
					.game-ratio 5K
					.progress-bar
						.progress(style='width:75%') 300
					.game-ratio-target 1000

				.pull-right
					.balance
						.coin
						.digit-group
							span.digit.-d5
							span.digit.-d2
							span.digit.-d0
						.digit-group
							span.digit.-d6
							span.digit.-d0
							span.digit.-d0
						.digit-group
							span.digit.-arrows-down
							//.-arrows OR .-arrows-up OR .-arrows-down

					.gold-coin(onMouseOver='$(this).toggleClass("flip")') +7

					//- +btn: +icon('arrow-right', '', 'Ход')
					+btn.game-move= 'Ход 7 '
						small 50

		//.navbar-footer


		.tabs: +list-menu(menu_tabs, active_tab)
		//.tabs
		.subtabs
			ul
				//- - each item,index in menu_subtabs
				//- 	li(class=active_subtab==index || active_subtab==item?'-active':false): a(href="#")= item

				li(class=active_subtab==0||active_subtab==menu_subtabs[0]?'-active':false): a(href="#"):=menu_subtabs[0]
				li(class=active_subtab==1||active_subtab==menu_subtabs[1]?'-active':false): a(href="#"):=menu_subtabs[1]
				li(class=active_subtab==2||active_subtab==menu_subtabs[2]?'-active':false): a(href="#"):=menu_subtabs[2]
				li(class=active_subtab==3||active_subtab==menu_subtabs[3]?'-active':false)
					a(href="#"):=menu_subtabs[3]
					ul
						li: +link() Item A
						li: +link() Item B
						li: +link() Item C
		//.subtabs

		block content