//-------------------------------------------------------------------------

- var img_path = '../img/'
- var css_path = '../css/'
- var js_path  = '../js/'

-NL = '\n'

//-------------------------------------------------------------------------

-function rand(min, max){
	-return Math.floor( Math.random() * (max - min + 1) + min )
-}

//-------------------------------------------------------------------------

mixin link(href, content)

	if !attributes.href
		- attributes.href = href ? href : '#'
	a()&attributes(attributes)
		=content
		block

//-------------------------------------------------------------------------

mixin css(styles)
	- each style in styles
		link(rel="stylesheet", href=css_path + style)

//-------------------------------------------------------------------------

mixin js(js_files)
	- each js_file in js_files
		script(type="text/javascript", src=js_path + js_file)

//-------------------------------------------------------------------------

mixin img(src)
	img(src=img_path+src, alt="")&attributes(attributes)

//-------------------------------------------------------------------------

mixin text(name, placeholder)
	input(type="text", name=name, placeholder=placeholder)&attributes(attributes)

//-------------------------------------------------------------------------

mixin radio(name, value)
	value = value || null
	label
		input(type="radio", name=name, value=value)&attributes(attributes)
		+space
		block

mixin radio_list(name, list)
		each title, index in list
			+radio(name, index): =title

//-------------------------------------------------------------------------

mixin submit(title)
	button(type="submit")= title

//-------------------------------------------------------------------------

mixin button(title)
	button= title

mixin select(options)
	select()&attributes(attributes)
		each title, index in options
			option(value=index): =title

//-------------------------------------------------------------------------

mixin list-menu(items, active)
	- var active = active || 0
	ul()&attributes(attributes)
		- each item,index in items
			- var item_class = active==index || active==item ? 'active' : null
			- href = typeof index == 'number' ? '#' : index
			li(class=item_class): +link(href)=item

//-------------------------------------------------------------------------

mixin dl(dt, dd)
	dl
		dt=dt
		dd
			=dd
			block

mixin icon(icon, suffix, prefix)
	if prefix
		=prefix + ' '
	-attributes.class = 'icon -' + icon + (attributes.class ? ' ' + attributes.class : '')
	i()&attributes(attributes)
	if suffix
		=' ' + suffix

//-------------------------------------------------------------------------

-var lorem_themes = ['abstract', 'animals', 'business', 'cats', 'city', 'food', 'nightlife', 'fashion', 'people', 'nature', 'sports', 'technics', 'transport']

mixin lorem-img(width, height, theme, index, grey)
	-var src = []
	if grey
		-src.push('g')
	-src.push(width)
	-src.push(height)
	-src.push(theme || lorem_themes[Math.floor(Math.random() * 12)])
	-src.push(index || Math.floor(Math.random() * 9))
	img(src="http://lorempixel.com/" + src.join('/'), alt="", width=width, height=height)&attributes(attributes)

//-------------------------------------------------------------------------

mixin btn(href)
	+space
	if !attributes.href
		-attributes.href = href ? href : '#'
	-attributes.class = 'btn' + (attributes.class ? ' ' + attributes.class : '')
	a()&attributes(attributes): block

mixin label()
	+space
	-attributes.class = 'label' + (attributes.class ? ' ' + attributes.class : '')
	span()&attributes(attributes): block

mixin label-progress(percents, color)
	color = color || 'yellow'
	if percents == null
		percents = Math.floor(Math.random() * 100)
	span(class='label ' + attributes.class)
		block
		span.elem-progress(class=color ? '-' + color : null, style='width:' + parseInt(percents) + '%')

mixin progress-bar(percents, progressClass, percentsText)
	if percents == null
		percents = Math.floor(Math.random() * 100)
	-attributes.class = 'progress-bar' + (attributes.class ? ' ' + attributes.class : '')
	div()&attributes(attributes)
		.progress(style='width:' + parseInt(percents) + '%', class=progressClass)
		if block
			.text: block
			.percents
				if percentsText
					=percentsText
				else
					=percents + '%'

//-------------------------------------------------------------------------

mixin eol()
	='\n'
mixin nl()
	+eol

mixin space()
	=' '

//-------------------------------------------------------------------------

mixin plus_minus(color)
	color = color || '-grey';
	div()&attributes(attributes).btn-group
		+link(class='btn ' + color): +icon('minus')
		+link(class='btn ' + color)
			if block
				block
			else
				|0
		+link(class='btn ' + color): +icon('plus')

//-------------------------------------------------------------------------

mixin staff_panel(image, opt)
	-image = image || 'boss'
	-opt = opt || {}

	div()&attributes(attributes).panel.-dark.-staff
		+img('icons-140/' + image + '.png')
		if opt.info
			+link: +icon('info')
		if opt.name
			+link().username: =opt.name
		if opt.plus_minus
			+plus_minus(class='selector -tiny')
		block

		//- if opt.post || opt.deal || opt.salary || opt.count
		//- 	ul.info
		//- 		if post
		//- 			li: +link(class='label ' + color): =post
		//- 		if opt.deal
		//- 			li: +icon('handshake', opt.deal)
		//- 		if opt.salary
		//- 			li: +dl('Зарплата', opt.salary)
		//- 		if opt.count
		//- 			li: +dl('Кол-во', opt.count)

mixin block()
	-var name = ''
	if attributes.id
		- name = '#' + attributes.id;
	else
		- name = ('.' + attributes.class).replace(' ', '.');
	!= NL
	div()&attributes(attributes)
		block
	!='<!-- ' + name + ' -->' + NL

mixin input(type, name, attr)
	-attr = attr || attributes;
	-attr.type = type;
	-attr.name = name ? name : '';
	input()&attributes(attr)

//-------------------------------------------------------------------------

mixin input-text(name)
	+input('text', name, attributes)

//-------------------------------------------------------------------------

mixin input-password(name)
	+input('password', name, attributes)
//-------------------------------------------------------------------------

mixin input-file(name)
	+input('file', name, attributes)

//-------------------------------------------------------------------------

mixin input-checkbox(name, checked)
	-if (checked)
		-attributes.checked = 'checked'
	+input('checkbox', name, attributes)

//- mixin select(name)

//-------------------------------------------------------------------------

//- mixin radio(name, value)
//- 	value = value || null
//- 	label
//- 		input(type="radio", name=name, class=attributes.class, value=value)/
//- 		+space
//- 		block

//- mixin radio_list(name, list)
//- 		each title, index in list
//- 			+radio(name, index): =title

//-------------------------------------------------------------------------

//- mixin submit(title)
//- 	button(type="submit")= title

//-------------------------------------------------------------------------

//- mixin button(title)
//- 	button= title

mixin select(options)
	select()&attributes(attributes)
		each title, index in options
			option(value=index): =title