extends _layout

block vars
	- var title         = 'Компания / Персонал / Обучение'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Персонал'

block content
	.tooltip(style='left:50%') Tooltip message
	h1
		Обучение

	.container
		.row-4
			-each title in ['Директоров', 'Маркетологов', 'Финансистов', 'Кадровиков']
				.col.panel.-dark-trans.-thumb.-staff-learn
					.panel-header: =title
					-var locked = rand(1,3)
					-each i in [1,2,3]
						+eol
						+link(class=i>=locked?'-lock':'').thumb
							+lorem-img(175, 110)
							span.caption: ='Название курса ' + i
							span.lock

	//.container