extends _layout

block vars
	- var title         = 'Компания / Производство'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Производство'

block content

	h1 Производство

	.container

		.panel
			.pull-right
				+btn.-blue Далее
			each item,index in ['Вода', 'Молоко', 'Сахар', 'Шоколад', 'Орехи', 'Клубника']
				+btn.-grey
					+img('res-30/res-' + (index+1) + '.jpg')
					=item + ' '
					+label.-dark 0
				+nl

		.row-3
			each item,index in ['Вода', 'Молоко', 'Сахар', 'Шоколад', 'Орехи', 'Клубника']
				.col.panel.-dark.-product
					span.thumb.-circle
						+img('products-70/product-1.jpg')

					.btn-group.-tiny.selector
						+btn.-grey -
						+btn.-grey 0
						+btn.-grey +
					.title Ванильное мороженое
					.resources
						span.res
							+img('res-30/res-1.jpg')
							span.count 10
						span.res
							+img('res-30/res-2.jpg')
							span.count 7
						span.res
							+img('res-30/res-3.jpg')
							span.count 5
						span.res
							+img('res-30/res-5.jpg')
							span.count 1


	//.container