extends _layout

block vars
	- var title         = 'Компания / Персонал / Организационная структура'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Персонал'

block content
	//- .tooltip(style='left:50%') Tooltip message
	h1
		Организационная структура

	.container


		.panel.-btn-panel.-light
			.pull-right
				+btn(class='-blue') Найм
				+space
				+btn(class='-red -disabled'): +icon('door-open', 'Уволить')
			-var staff = ['Директор', 'Кадровик', 'Рабочий']
			each item,index in ['boss', 'recruitment', 'worker']
				.btn-group
					+btn(class='-staff -dark -' + item)
						=staff[index]
						+space
						+label.-grey 0
					+btn.-dark: +icon('plus')



		script.
			var init_slider = function(){
				$('.modal-slider', this.container).bxSlider({
					slideWidth: 180,
					minSlides: 2,
					maxSlides: 3,
					slideMargin: 10
				});
			};

		.row-3
			.col-3.tablet-hide
			.col-6.tablet-wide
				h2 Генеральный директор
				+staff_panel('boss-7')
					.panel-controls
						+link(onclick='return modal.open("#modal_boss", init_slider);'): +icon('info')
						+space()
						+link: +icon('improvement')
						+space()
						+link: +icon('reload')
					ul.info
						li: .btn-group.-wide
							+btn(class='-red -wide') Иван Петров
							+btn(class='-red -float'): +icon('tick')
						li: +progress-bar(50, '-red', parseInt(25*.50)) Лидерство
						li: +progress-bar(15, '-red', parseInt(25*.15)) Трудоспособность
						li: +progress-bar(35, '-red', parseInt(25*.35)) Мастерство
						li: +progress-bar(85, '-red', parseInt(25*.85)) Ответственность
						li: +progress-bar(27, '-red', parseInt(25*.27)) Везени
						li: +dl('Зарплата'): span.price 300 000


		.row-2
			.col.panel.-dark-trans.-thumb
				.panel-header Отдел кадров

				+staff_panel('boss', {info:1})
					ul.info
						li: +btn(class='-blue -wide') Директора
						//- li: +dl('Количество'): +label-progress(1/5*100, 'light').-grey 1 / 5
						li: +progress-bar(50, '-blue', parseInt(25*.50)) Лидерство
						li: +progress-bar(15, '-blue', parseInt(25*.15)) Трудоспособность
						li: +progress-bar(35, '-blue', parseInt(25*.35)) Мастерство
						li: +progress-bar(85, '-blue', parseInt(25*.85)) Ответственность
						li: +progress-bar(27, '-blue', parseInt(25*.27)) Везение
						li: +dl('Зарплата'): span.price 80 000
					.footer
						+btn(class='-dark -large -staff -icon-only -boss-1')
						+btn(class='-dark -large -staff -icon-only -boss-3')
						+btn(class='-dark -large -staff -icon-only -boss-7')
						+btn(class='-dark -large -staff -icon-only -boss-11')
						+btn(class='-dark -large -staff -icon-only -boss-15')
						+btn(class='-blue -large') Все
					//- +link().btn_more.-blue Подробнее

				+staff_panel('recruitment', {info:1})
					ul.info
						li: +btn(class='-purple -wide') Специалист по набору
						//- li: +dl('Количество'): +label-progress(6/10*100, 'light').-grey 6 / 10
						li: +progress-bar(6/10*100, '-purple', '6 / 10') Количество
						//- li: +progress-bar(50, '-purple') Лидерство
						//- li: +progress-bar(15, '-purple') Трудоспособность
						//- li: +progress-bar(35, '-purple') Мастерство
						//- li: +progress-bar(85, '-purple') Ответственность
						//- li: +progress-bar(27, '-purple') Везение
						li: +dl('Зарплата'): span.price 450 000

				+staff_panel('trainer', {info:1})
					ul.info
						li: +btn(class='-cyan -wide') Тренер
						li: +progress-bar(6/10*100, '-cyan', '6 / 10') Количество
						//- li: +progress-bar(50, '-cyan') Лидерство
						//- li: +progress-bar(15, '-cyan') Трудоспособность
						//- li: +progress-bar(35, '-cyan') Мастерство
						//- li: +progress-bar(85, '-cyan') Ответственность
						//- li: +progress-bar(27, '-cyan') Везение
						li: +dl('Зарплата'): span.price 450 000

			.col.panel.-dark-trans.-thumb
				.panel-header Отдел производства

				+staff_panel('boss-15', {info:1})
					ul.info
						li: +btn(class='-olive -wide') Директора
						//- li: +dl('Количество'): +label-progress(1/5*100, 'light').-grey 1 / 5
						li: +progress-bar(50, '-olive', parseInt(25*.50)) Лидерство
						li: +progress-bar(15, '-olive', parseInt(25*.15)) Трудоспособность
						li: +progress-bar(35, '-olive', parseInt(25*.35)) Мастерство
						li: +progress-bar(85, '-olive', parseInt(25*.85)) Ответственность
						li: +progress-bar(27, '-olive', parseInt(25*.27)) Везение
						li: +dl('Зарплата'): span.price 80 000
					.footer
						+btn(class='-dark -large -staff -icon-only -boss-15 -bg-olive')
						+btn(class='-dark -large -staff -icon-only -boss-6')
						+btn(class='-dark -large -staff -icon-only -boss-7')
						//- +btn(class='-dark -large -staff -icon-only -boss-yellow')
						//- +btn(class='-dark -large -staff -icon-only -boss-red')
						+btn(class='-dark -large') Все
					//- +link().btn_more.-blue Подробнее

				+staff_panel('worker', {info:1})
					ul.info
						li: +btn(class='-yellow -wide') Производственник
						li: +progress-bar(6/10*100, '-yellow', '6 / 10') Количество
						//- li: +progress-bar(50, '-yellow') Лидерство
						//- li: +progress-bar(15, '-yellow') Трудоспособность
						//- li: +progress-bar(35, '-yellow') Мастерство
						//- li: +progress-bar(85, '-yellow') Ответственность
						//- li: +progress-bar(27, '-yellow') Везение
						li: +dl('Зарплата'): span.price 450 000

				+staff_panel('logistician', {info:1})
					ul.info
						li: +btn(class='-olive -wide') Логист
						li: +progress-bar(6/10*100, '-olive', '6 / 10') Количество
						//- li: +progress-bar(50, '-color-7') Лидерство
						//- li: +progress-bar(15, '-color-7') Трудоспособность
						//- li: +progress-bar(35, '-color-7') Мастерство
						//- li: +progress-bar(85, '-color-7') Ответственность
						//- li: +progress-bar(27, '-color-7') Везение
						li: +dl('Зарплата'): span.price 450 000

		//- .row-3
		//- 	-var names = ['Директор','Производство','Закупки', 'Логистика']
		//- 	//- -var icons = ['-boss','-marketer','-financier', '-manager', '-manager', '-manager']
		//- 	-each title,i in ['Директоров', 'Маркетологов', 'Финансистов', 'Кадровиков', 'Кадровиков', 'Кадровиков', 'Кадровиков']
		//- 		+eol
		//- 		div(class='-dark-trans').col.panel.-thumb.-staff-org
		//- 			.panel-header: =title
		//- 			-var locked = rand(1,3)
		//- 			-each name,j in names
		//- 				+eol
		//- 				.btn-group.-wide.-large
		//- 					+btn(class='-wide -dark -staff ' + (j ? '-worker-' + (i+1) : '-boss-' + (i+1))): =name + ': '
		//- 						+label(class='-grey'): =rand(0,5)
		//- 					+btn(class='-dark -float'): i.icon.-minus




	//.container

	#modal_boss.modal-content
		div.modal-title
			| Иван Петров
			| &nbsp;
			+label.-green Генеральный директор
			+label(class='-green -right')
				| ЗП
				+space
				span.price 450 000
			//- +label(class='-green -right') Генеральный директор
		div.modal-close
		div.modal-data
			div.modal-slider
				-var locked = rand(3,4)
				-each i in [1,2,3,4,5,6]
					.slide.panel.-dark
						.panel-header Улучшение трудоспособности
						+link(class=i>=locked?'-lock':'').thumb
							+lorem-img(175, 110)
							span.caption: span.price: |3 000
							span.lock

	script.
		modal.open("#modal_boss", init_slider);