extends _layout

block vars
	- var title         = 'Компания / Производство / Мощности'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Производство'

block content

	h1 Мощности

	.container
		.row
			.thumb.-left.-radius: +lorem-img(200, 154, 'technics')

			table.-dark.-text-middle
				tr
					td Загрузка производства
					td: +label-progress(21).-grey 21/100
				tr
					td Может быть произведено текущими рабочими
					td: +label-progress(0).-grey 0/0
				tr
					td Загрузка склада
					td: +label-progress(3).-grey 3/100
				tr
					td Производственный брак
					td: +label-progress(10).-grey 10%

		h2 Улучшения
		.panel.-dark-trans.-thumb
			.row-4
					-var locked = rand(3,4)
					-each i in [1,2,3,4,5,6]
						.col
							+link(class=i>=locked?'-lock':'').thumb
								+lorem-img(175, 110)
								span.caption: ='Название курса ' + i
								span.lock

	//.container