extends _layout

block vars
	- var title         = 'Компания / Производство / Ресурсы'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Производство'

	- var resources = {wand:'Палочки', cup:'Стаканчик', water:'Вода', milk:'Молоко', cream:'Сливки', shugar:'Сахар', waffle:'Вафли', strawberry:'Клубника', nuts:'Орехи', chocolate:'Шоколад'}
	- var products = ['Ванильный рожок', 'Клубничный рожок', 'Шоколадный рожок', 'Ванильный стаканчик', 'С орехами стаканчик', 'Эскимо', 'Брикет 2 вкуса', 'Ведерко с орехами']
block content



	mixin plus_minus2(color)
		.btn-group
			+btn(class='-disabled ' + color): +icon('minus')
			+btn(class=color, onclick="return modal.open('#modal_boss')") 0 / 0
			+btn(class=color): +icon('plus')

	.container

		//- table.-dark.-wide.-text-middle
		//- 	tr
		//- 		th.-compact
		//- 		th: Наименование
		//- 		th: Запасы
		//- 		th: Цена
		//- 		th(width=150): Заказать
		//- 		//- th: Поставшик
		//- 	each title, icon in resources
		//- 		tr
		//- 			td: +img('icons-40/' + icon + '.png')
		//- 			td: =title
		//- 			td: span.label.-purple: =rand(0, 100) * 10
		//- 			td: span.price 1500
		//- 			td
		//- 				.pull-right
		//- 					+plus_minus2('-grey')
		//- 			//- td
		//- 			//- 	+link: i.icon.-arrow-left
		//- 			//- 	='\nПоставщик #' + (index + 1) + '\n'
		//- 			//- 	+link: i.icon.-arrow-right

		h2 Ресурсы

		.row-5
			-var index = 0
			each title, icon in resources
				div(class=index++>5 ? 'col panel -dark resource -lock' : 'panel -dark col resource')
					//- +link().info: +icon('info')
					+label().badge.-yellow: =rand(0, 100) * 10
					.thumb.-small
						+img('icons-140/' + icon + '.png')
					.resource-title: =title

					+plus_minus2('-grey')
					.clearfix
					-var percents = index < 3 ? 0 : +rand(0,7) * 10
					.btn-group
						+btn(class='-grey', onclick="return modal.open('#modal_boss')")
							span.btn-text
								if percents
									|&nbsp;&nbsp;&nbsp;
									+label(null, 'white').-dark-trans 5:00
									|&nbsp;&nbsp;&nbsp;
								else
									span.price 1500
									+space()
									+label(null, 'white').-yellow Купить
							.elem-progress(style='width:'+percents+'%', class='-yellow')
						if percents
							+btn.-grey: +icon('remove')

		.panel.-dark-trans.-btn-panel
			.pull-right
				+btn.-dark
					span.coin
					= ' 300 000'
				+nl
				+btn.-blue 	Купить

		hr

		h2 Производство

		.row-2
			each title, index in products
				div(class=index>5 ? 'col panel -dark resource -lock' : 'panel -dark col resource')
					+link().info: +icon('info')
					+label().badge.-yellow: =rand(0, 100) * 10
					.thumb
						+img('icons-140/icecream-' + (index + 1) + '.png')

					.resource-title: =title

					.resources.panel.-dark-trans
						each title, icon in resources
							if +rand(0, 10) > 5
								span.res
									+img('icons-40/'+icon+'.png')
									span.count: =rand(1,100)

					+plus_minus2('-grey')

					-var percents = index < 3 ? 0 : +rand(0,7) * 10
					.btn-group
						+btn(class='-grey', onclick="return modal.open('#modal_boss')")
							span.btn-text
								if percents
									|&nbsp;&nbsp;&nbsp;
									+label(null, 'white').-dark-trans 5:00
									|&nbsp;&nbsp;&nbsp;
								else
									span.price 1500
									+space()
									+label(null, 'white').-yellow Купить
							.elem-progress(style='width:'+percents+'%', class='-yellow')
						if percents
							+btn.-grey: +icon('remove')

		.panel.-dark-trans.-btn-panel
			.pull-right
				+btn.-dark
					span.coin
					= ' 300 000'
				+nl
				+btn.-blue 	Купить

		hr

		h2 Продажа

		.row-2
			.panel.col.-dark.-staff
				+img('icons-140/icecream-1.png').thumb
				ul.info
					li Ванильный рожок
					li: +dl('Количество') 150
					li: +dl('Цена'): span.price 80 000
					li: +btn.-red Продать
			.panel.col.-dark.-staff
				+img('icons-140/icecream-6.png').thumb
				ul.info
					li Эскимо
					li: +dl('Количество') 420
					li: +dl('Цена'): span.price 80 000
					li: +btn.-red Продать

	//.container