extends _layout

block vars
	- var title         = 'Компания / Персонал / Найм персонала'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Персонал'

//-------------------------------------------------------------------------

block content
	//- .tooltip(style='left:50%') Tooltip message
	h1
		Найм персонала

	.container

		.panel.-light
			.panel-header Директора
			#slider_boss.row-3
				each type,index in ['red', 'purple', 'blue', 'green', 'yellow', 'cyan', 'red', 'purple', 'blue', 'green', 'yellow', 'cyan', 'yellow', 'purple', 'olive']
					+staff_panel('boss-' + (index + 1)).col
						.panel-controls
							+link: +icon('info')
							+space()
							+link: +icon('improvement')
							+space()
							+link: +icon('edit')
						ul.info
							li: +btn(class='-tiny -wide -grey') Иван Петров
							li: +icon('handshake', '310 000')
							li: +progress-bar(50, ' -' + type, parseInt(25*.50)) Лидерство
							li: +progress-bar(15, ' -' + type, parseInt(25*.15)) Трудоспособность
							li: +progress-bar(35, ' -' + type, parseInt(25*.35)) Мастерство
							li: +progress-bar(85, ' -' + type, parseInt(25*.85)) Ответственность
							li: +progress-bar(27, ' -' + type, parseInt(25*.27)) Везени
							li: +dl('Зарплата'): span.price 80 000
							li: +btn(class='-grey', onclick="return modal.open('#modal_boss')")
								span.btn-text
									| Нанять
									+space()
									//- +label-progress(null, 'white').-dark-trans 5:00
									+label(null, 'white').-dark-trans 5:00
								.elem-progress(style='width:'+rand(0,100)+'%', class='-' + type)

			script.
				$(function(){
					$('#slider_boss').bxSlider({infiniteLoop:false, hideControlOnEnd:true, slideWidth:400, minSlides:1, maxSlides:2, slideMargin:10});
				});

		.row-2
			mixin plus_minus2(color)
				+btn(class='-disabled ' + color): +icon('minus')
				+btn(class=color, onclick="return modal.open('#modal_boss')") Нанять: 0
				+btn(class=color): +icon('plus')

			.col.panel.-thumb.-light
				.panel-header Кадровики
				+staff_panel('recruitment', {info:1})
					ul.info
						li: +btn(class='-tiny -grey') Кадровик
						li: +icon('handshake', '200 000')
						li: +dl('Зарплата'): span.price 40 000
						li: +plus_minus2('-purple')

			.col.panel.-thumb.-light
				.panel-header Работники
				+staff_panel('worker', {info:1})
					ul.info
						li: +btn(class='-tiny -grey') Работник
						li: +icon('handshake', '200 000')
						li: +dl('Зарплата'): span.price 40 000
						li: +plus_minus2('-yellow')


	//.container

	//-------------------------------------------------------------------------

	mixin selector(title, list)
		.panel.-grey
			.panel-header.text-left: =title
			.panel.-white.-list
				+radio_list('r' + rand(1,999), list)

	#modal_boss.modal-content
		div.modal-title
			+label.-blue Генеральный директор
		div.modal-close
		div.modal-data
			.panel.-grey
				.panel-header.text-left Отдел
				.panel.-white.-btn-panel
					.row
						.col-4
						.col-4: +btn(class='-wide -blue -large') Генеральный директор
					.row
						.col-2
						.col-4: +btn(class='-wide -blue') Производство
						.col-4: +btn(class='-wide -blue') Кадры
			+selector('Работник', ['Специалист по набору', 'Тренер'])
			.text-center
				span.btn.-dark Найм <span class='coin'></span> 450 000
				+btn().-blue Нанять
	//- script.
	//- 	modal.open('#modal_boss')