extends _layout

block vars
	- var title         = 'Компания / Маркетинг / Реклама'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Маркетинг'

block content

	h1 Реклама

	.container
		table.-dark.-wide.-text-middle
			tr
				th.-compact
				th: Метод
				th: Стоимость
				th: Качество
				th: Интенсивность
			each item,index in ['Социальные медиа', 'Радио', 'Печать', 'Наружная реклама', 'Телевидение']
				tr
					td: spam.thumb.-circle: +img('marketing-50/marketing-' + (index+1) + '.jpg')
					td: =item
					td: span.price 1500
					td
						.btn-group.-tiny.selector
							+btn.-grey -
							+btn.-grey 0
							+btn.-grey +
					td
						.btn-group.-tiny.selector
							+btn.-grey -
							+btn.-grey 0
							+btn.-grey +

		.pull-right
			+btn.-dark
				span.coin
				= ' 300 000'
			+nl
			+btn.-blue 	Купить

	//.container