extends _layout

block vars
	- var title         = 'Компания / Персонал / Найм персонала'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Персонал'

//-------------------------------------------------------------------------

block content
	//- .tooltip(style='left:50%') Tooltip message
	h1
		Производство

	.container

		.row-2.panel

			.col.panel.-dark-trans
				.panel-header Склад
				+img('warehouse.png').center
				ul.info
					li: +progress-bar(635/5000*100, '-yellow', '635 / 5000') Размер склада продуктов
					li: +progress-bar(1730/5000*100, '-yellow', '1730 / 5000') Размер склада сырья

			.col.panel.-dark-trans
				.panel-header Завод
				+img('factory.png').center
				+label(class='-cyan -factory-power') Мощность: 3500
				ul.info
					//- li: +dl('Мощность'): +label.-yellow 3500
					//- li: +dl('Мощность') 3500
					li: +progress-bar(65, '-cyan') Загрузка
					li: +progress-bar(15, '-cyan') Процент брака

			+link(class='btn -circle -yellow -production-btn'): Войти


	//.container
