//- extends _layout_global
extends _layout



mixin ratio-row(place)
	- var change  = rand(-1, 1)
	- var leagues = ['platinum', 'gold', 'silver', 'bronze', 'stone', 'wood', 'stub']
	- var league  = leagues[Math.min(Math.floor((place-1) / 3), 6)]
	- var level   = 10 - Math.min(rand(0, place / 2), 10)
	- var user    = 'Username ' + place
	- var ratio   = rand(0, 100)


	div(class='ratio-row' + (place==10?' -current':''))
		span(class='place -place-' + place): =place

		span(class='change -'+(change>0?'up':(change<0?'down':'same'))): =Math.abs(change)

		span.league: +img('icons-40/league-' + league + '.png')

		span.level: =level

		span.user
			+img('userpic-34.png').avatar
			=user

		span.ratio: =ratio



block content

	h1 Рейтинг

	.container
		.ratio
			- for (var i = 1; i < 21; i++)
				+ratio-row(i)

		h2 Лиги

		.ratio-legend
			table
				tr
					td.stub: div
						span.title Пень
						span.count -100
					td.wood: div
						span.title Дерево
						span.count -50
					td.stone: div
						span.title Камень
						span.count -25
					td.bronze: div
						span.title Бронза
						span.count 0+
					td.silver: div
						span.title Серебро
						span.count 25+
					td.gold: div
						span.title Золото
						span.count 50+
					td.platinum: div
						span.title Платина
						span.count 100