extends _layout
//- extends _layout_global

mixin news-row()
	- var imgs = ['wand', 'cup', 'water', 'milk', 'cream', 'shugar', 'waffle', 'strawberry', 'nuts', 'chocolate']
	- attributes.class = ('class' in attributes ? attributes.class + ' ' : '') + 'news-row'
	div&attributes(attributes)
		.thumb: +lorem-img(140,140)
		h3 Экспериментальный анализ рыночных цен

		table.table.table-list
			tr
				th Колическтво
				td 100
			tr
				th Цена
				td: span.price 10 000

		.pull-right
			.btn.-lighten Button
			.btn.-orange Купить

block content

	.container

		h1 Новости

		.news
			.news-row
				a.btn-close
				.thumb: +lorem-img(140,140)
				h3 Экспериментальный анализ рыночных цен

				p Воздействие на потребителя, согласно Ф.Котлеру, экономит общественный социальный статус, оптимизируя бюджеты.

				//- table.table.table-list
				//- 	tr
				//- 		th Колическтво
				//- 		td 100
				//- 	tr
				//- 		th Цена
				//- 		td: span.price 10 000

				.pull-right
					.btn.-unhover.-flat.-lighten Колическтво
						+space
						span.label 100
					.btn.-unhover.-flat.-lighten Цена
						+space
						span.price 10 000
					a.btn.-orange Продать
						+space
						span.label 12:00
		.news
			.news-row
				a.btn-close
				.thumb: +lorem-img(140,140)
				h3 Экспериментальный анализ рыночных цен

				//- p Воздействие на потребителя, согласно Ф.Котлеру, экономит общественный социальный статус, оптимизируя бюджеты.

				table.table.table-list
					tr
						th Другой параметр
						td: .label.-red 1 000 000
					tr
						th Колическтво
						td: .label.-green 100
					tr
						th Цена
						td: span.price 10 000

				.pull-right

					a.btn.-grey Купить
						+space
						span.label.-orange 12:00