extends _layout

block vars
	- var title         = 'Компания / Персонал / Организационная структура'
	- var active_tab    = 'Компания'
	- var active_subtab = 'Персонал'

block content
	//- .tooltip(style='left:50%') Tooltip message
	h1
		Организационная структура
	.container

		.col.panel.-grey
			.panel-header.text-left
				+label(class='-right -dark') 1/3
				|Если 642х+3=43х+6, то х=
			.panel.-white.-list
				span.thumb: +lorem-img(320, 320)
				+radio('test1', 1) 0
				+radio('test1', 2) 1
				+radio('test1', 3) 2
				+radio('test1', 3) 3
				+radio('test1', 3) 4

		.col.panel.-grey
			.panel-header.text-left
				+label(class='-right -dark') 1/3
				|Если 642х+3=43х+6, то х=
			.panel.-white.-list
				+radio('test1', 1) 0
				+radio('test1', 2) 1
				+radio('test1', 3) 2
				+radio('test1', 3) 3
				+radio('test1', 3) 4