include _mixins

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		+css(['mail.css'])
		title: =title
	body
		.navbar
			.logo

			//.navbar-content

		.container

			h1 Header 1
			h2 Header 2
			+link.thumb
				+lorem-img(200, 150)
			p Давно выяснено, что при оценке <a href="#">дизайна</a> и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
			p За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
			+btn().-dark Button
			+btn().-yellow Button
			+btn().-red Button
			+btn().-blue Button
			+btn().-green Button
			+btn().-olive Button
			+btn().-cyan Button
			+btn().-purple Button
			+btn().-white Button
			+btn().-light Button
			+btn(class='-grey -tiny') Tiny Button
			+btn(class='-grey -large') Large Button

			hr
			+link.thumb
				+lorem-img(200, 150)
				.caption Caption
			p Давно выяснено, что при оценке <a href="#">дизайна</a> и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
			p За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).