$respond-tablet-landscape: 980px;
$respond-tablet-portrait:  780px;
$respond-mobile-landscape: 500px;
$respond-mobile-portrait:  340px;



@mixin tablet-landscape {
	@media only screen and (max-width: $respond-tablet-landscape) {
		@content;
	}
}
@mixin tablet {
	@media only screen and (max-width: $respond-tablet-portrait) {
		@content;
	}
}
@mixin mobile-landscape {
	@media only screen and (max-width: $respond-mobile-landscape) {
		@content;
	}
}
@mixin mobile {
	@media only screen and (max-width: $respond-mobile-portrait) {
		@content;
	}
}