/**************************************************************************
	lib/placeholders
**************************************************************************/

%default-font {
	font-family: $font-family;
	font-size:   $font-size;
	line-height: $line-height;
}

//-------------------------------------------------------------------------