$font-family: 'Trebuchet MS', Arial, sans-serif;
$font-size:   14px;
$line-height: 20px;

$h1-font-size: 23px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$h6-font-size: 12px;

$blue:   #007cbe;
$green:  #2e9200;
$cyan:   #00909d;
$purple: #ba6eca;
$yellow: #ffa300;
$red:    #A33;
$olive:  #989d0f;

$color1: $blue;
$color2: $green;
$color3: $cyan;
$color4: $purple;
$color5: $yellow;
$color6: #a44c25;
$color7: $olive;

$white: #FFF;
$light: #ececec;
$grey: #53595b;
$dark: #393e3f;