/**************************************************************************
	components/buttons
**************************************************************************/

.btn-group, .btn {

	margin:          0 0 5px 0;
	position:        relative;
	height:          36px;
	line-height:     36px;
	text-decoration: none;
	white-space: nowrap;

	@include border-radius(2px);
	@include inline-block;

	&.-right, .btn-group &.-right {
		display:     block;
		float:       right;
		margin-left: 5px;
	}

	&.-left, .btn-group &.-left {
		display:     block;
		float:       left;
		margin-right: 5px;
	}

	.btn-text {
		position: relative;
		z-index: 2;
	}
	.elem-progress {
		height: 100%;
		z-index: 1;
	}

	&.-tiny, &.-tiny .btn {
		height:      20px;
		line-height: 20px;
	}
	&.-tiny, &.-tiny > & {
		padding: 0 5px;
	}

	&.-large, .-large > & {
		height:      50px;
		line-height: 50px;
		padding:     0 15px;
	}
	&.-circle {
		@include border-radius(100px);
		height: 100px;
		width: 100px;
		padding: 0;
		text-align: center;
		line-height: 100px;
		border-width: 5px;
		border-style: solid;
	}

	// &.-large, &.-tiny {
	// 	padding: 0;
	// }

	&.-blue {background-color: $blue; color:#FFF; border-color:darken($blue, 10%)}
	&.-green {background-color: $green; color:#FFF; border-color:darken($green, 10%)}
	&.-cyan {background-color: $cyan; color:#FFF; border-color:darken($cyan, 10%)}
	&.-purple {background-color: $purple; color:#FFF; border-color:darken($purple, 10%)}
	&.-yellow{background-color: $yellow; color:#FFF; border-color:darken($yellow, 10%)}
	&.-red{background-color: $red; color:#FFF; border-color:darken($red, 10%)}
	&.-olive{background-color: $olive; color:#FFF; border-color:darken($olive, 10%)}

	&.-white{background-color: $white; color:#393e3f; border-color:darken($white, 10%)}
	&.-light{background-color: $light; color:#393e3f; border-color:darken($light, 10%)}
	&.-grey{background-color: $grey; color:#FFF; border-color:darken($grey, 10%)}
	&.-dark{background-color: $dark; color:#FFF; border-color:darken($dark, 10%)}

	&.-wide {
		display:    block;
		text-align: center;
		position: relative;

		.btn.-wide {
			float:      none;
			text-align: left;
			position:   absolute;
			width:      100%;
		}
		.btn.-float {
			position: relative;
			float:    right;
			z-index:  1;
		}
	}

	&.-tiny {
		padding: 0 5px;
	}
}

.btn-group {
	overflow: hidden;
}

.btn {
	padding:  0 10px;
	overflow: hidden;

	img {
		display: block;
		float:   left;
		margin:  3px 5px 3px -7px;
	}

	.icon {
		margin-top: -4px;
	}
	.coin {
		background: image-url('coin-small.png') no-repeat;
		height:     21px;
		width:      20px;
		margin:     -5px 0 0 0;
		@include inline-block;
	}

	&.-balance {
		color: #FFF;
		font-weight: bold;
	}

	&.-staff {
		background-repeat: no-repeat;
		background-position: 5px 100%;
		padding-left: 40px;

		&.-large, .-large > & {
			background-position: 5px 50%;
			padding-left: 50px;
		}

		&.-factory {background-image: image-url('icons-40/factory.png')}
		&.-wirehouse {background-image: image-url('icons-40/wirehouse.png')}

		&.-logistician {background-image: image-url('icons-40/logistician.png')}
		&.-recruitment {background-image: image-url('icons-40/recruitment.png')}
		&.-trainer {background-image: image-url('icons-40/trainer.png')}
		&.-worker {background-image: image-url('icons-40/worker.png')}
		&.-unknown {background-image: image-url('icons-40/unknown.png')}
		&.-boss {background-image: image-url('icons-40/boss.png')}

		&.-boss-1 {background-image: image-url('icons-40/boss-1.png')}
		&.-boss-2 {background-image: image-url('icons-40/boss-2.png')}
		&.-boss-3 {background-image: image-url('icons-40/boss-3.png')}
		&.-boss-4 {background-image: image-url('icons-40/boss-4.png')}
		&.-boss-5 {background-image: image-url('icons-40/boss-5.png')}
		&.-boss-6 {background-image: image-url('icons-40/boss-6.png')}
		&.-boss-7 {background-image: image-url('icons-40/boss-7.png')}
		&.-boss-8 {background-image: image-url('icons-40/boss-8.png')}
		&.-boss-9 {background-image: image-url('icons-40/boss-9.png')}
		&.-boss-10 {background-image: image-url('icons-40/boss-10.png')}
		&.-boss-11 {background-image: image-url('icons-40/boss-11.png')}
		&.-boss-12 {background-image: image-url('icons-40/boss-12.png')}
		&.-boss-13 {background-image: image-url('icons-40/boss-13.png')}
		&.-boss-14 {background-image: image-url('icons-40/boss-14.png')}
		&.-boss-15 {background-image: image-url('icons-40/boss-15.png')}



		// &.-worker-blue {background-image: image-url('staff-40/worker-blue.png');}
		// &.-worker-green {background-image: image-url('staff-40/worker-green.png');}
		// &.-worker-cyan {background-image: image-url('staff-40/worker-cyan.png');}
		// &.-worker-purple {background-image: image-url('staff-40/worker-purple.png');}
		// &.-worker-yellow {background-image: image-url('staff-40/worker-yellow.png');}
		// &.-worker-red {background-image: image-url('staff-40/worker-red.png');}
		// &.-worker-olive {background-image: image-url('staff-40/worker-olive.png');}
	}

	&.-icon-only {
		background-position: 50% 50% !important;
		padding-right:       0;
	}

	.label {
		padding: 0 5px;

		@include border-radius(2px);
	}
}

.btn-group .btn {
	@include border-radius(0);
	display: block;
	float:   left;

	border-left-width: 1px;
	border-left-style: solid;

	&:first-child {
		border:none
	}

}
a.btn:hover, button.btn:hover {
	@include box-shadow(0 0 15px rgba(255,255,255,.3) inset, 0 0 5px rgba(0,0,0,.3));
	position: relative;
	z-index: 1;

	&.-disabled {
		cursor: default;
		@include box-shadow(inherit);
	}
}


.elem-progress {
	position:   absolute;
	height:     3px;
	bottom:     0;
	left:       0;
	background: $white;

	@include box-shadow(0 0 3ox rgba(0,0,0,.5));

	&.-blue {background-color:$blue}
	&.-green {background-color:$green}
	&.-cyan {background-color:$cyan}
	&.-purple {background-color:$purple}
	&.-yellow{background-color:$yellow}
	&.-red {background-color:$red}
	&.-olive {background-color:$olive}

	&.-white {background-color:$white}
	&.-light {background-color:$light}
	&.-grey {background-color:$grey}
	&.-dark {background-color:$dark}
}


.-production-btn {
	position:    absolute;
	left:        50%;
	margin-left: -55px;
	top:         50px;
	z-index:     3;
	text-shadow: 0 1px 3px rgba(0,0,0,.2);
	font-size:   20px;

	&:hover {
		position: absolute !important;
	}
}