/**************************************************************************
	components/grid
**************************************************************************/

.row {
	clear: both;
	@include clearfix;
}

.row-2 {
	clear: both;
	@include clearfix;

	.col {
		@include span-columns(6,12);

		@include mobile-landscape {
			@include span-columns(12,12);
			@include remove-nth-omega(2n);
			// @include nth-omega(2n);
		}
	}
}

.row-3 {
	clear: both;
	@include clearfix;

	.col {
		@include span-columns(4,12);

		@include tablet {
			@include span-columns(6,12);
			@include remove-nth-omega(3n);
			@include nth-omega(2n);
		}

		@include mobile-landscape {
			@include span-columns(12,12);
			@include remove-nth-omega(2n);
			// @include nth-omega(2n);
		}
	}
}

.row-4 {
	clear: both;
	@include clearfix;
	.col {
		@include span-columns(3,12);

		@include tablet {
			@include span-columns(6,12);
			@include remove-nth-omega(4n);
			@include nth-omega(2n);
		}
	}
}

.row-5 {
	clear: both;
	@include clearfix;

	.col {
		@include span-columns(2,10);

		// @include tablet {
		// 	@include span-columns(6,12);
		// 	@include remove-nth-omega(5n);
		// 	@include nth-omega(2n);
		// }
	}
}

.row-6 {
	clear: both;
	@include clearfix;
	.col {
		@include span-columns(2,12);

		@include tablet {
			@include span-columns(3,12);
			@include remove-nth-omega(6n);
			@include nth-omega(4n);
		}

		@include mobile-landscape {
			@include span-columns(4,12);
			@include remove-nth-omega(4n);
			@include nth-omega(3n);
		}
	}
}

.col, div[class*='col-'] {
	min-height: 1px;
}

@for $i from 1 through 6 {
	.row-#{$i} {
		.col, div[class*='col-'] {
			@include nth-omega(#{$i}n);
		}
	}
}

@for $i from 1 through 12 {
	.col-#{$i} {
		@include span-columns($i,12);
	}
}

.tablet-hide {
	@include tablet {
		display: none !important;
	}
}

.tablet-wide {
	@include tablet {
		display: block;
		width:   100%;
	}
}