/**************************************************************************
	components/labels
**************************************************************************/

.label {
	text-decoration: none;
	padding:         0 15px;
	margin:          3px 0;
	height:          20px;
	line-height:     20px;
	font-size:       13px;
	text-shadow:     0 1px 1px rgba(0,0,0,.3);
	position:        relative;
	overflow:        hidden;

	@include inline-block;
	@include border-radius(2px);

	&.-rounded {
		@include border-radius(100px);
	}

	&.-right {
		display:     block;
		float:       right;
		margin-left: 5px;
	}

	&.-blue {background-color: $blue; color:#FFF; border-color:darken($blue, 10%)}
	&.-green {background-color: $green; color:#FFF; border-color:darken($green, 10%)}
	&.-cyan {background-color: $cyan; color:#FFF; border-color:darken($cyan, 10%)}
	&.-purple {background-color: $purple; color:#FFF; border-color:darken($purple, 10%)}
	&.-yellow {background-color: $yellow; color:#FFF; border-color:darken($yellow, 10%)}
	&.-white {background-color: $white; color:#393e3f; border-color:darken($white, 10%)}
	&.-light {background-color: $light; color:#393e3f; border-color:darken($light, 10%)}
	&.-grey {background-color: $grey; color:#FFF; border-color:darken($grey, 10%)}
	&.-dark {background-color: $dark; color:#FFF; border-color:darken($dark, 10%)}
	&.-red {background-color: $red; color:#FFF; border-color:darken($red, 10%)}
	&.-olive {background-color: $olive; color:#FFF; border-color:darken($olive, 10%)}

	&.-dark-trans {background: rgba(0,0,0,.4); color:#FFF; border-color:darken($dark, 10%)}
	&.-white-trans {color:#333; background: rgba(255,255,255,.5); text-shadow:0 1px 0 rgba(255,255,255,.2)}

	.elem-progress {
		height: 2px;
	}
}


.progress-bar {
	text-decoration: none;
	display:         block;
	background:      $grey;
	// padding:      0 15px;
	// margin:       3px 0;
	height:          20px;
	line-height:     20px;
	width:           100%;
	text-align:      left;
	font-size:       12px;
	text-shadow:     0 1px 1px rgba(0,0,0,.6);
	position:        relative;
	overflow:        hidden;

	@include border-radius(2px);
	@include box-shadow(inset 0 -2px 0 rgba(0,0,0,.1));

	&.-rounded {
		@include border-radius(100px);
	}

	.progress {
		position:   absolute;
		background: $yellow;
		height:     100%;
		@include box-shadow(1px 0 0 rgba(0,0,0,.1));
		@include border-radius(2px);

		&.-blue {background-color: $blue}
		&.-green {background-color: $green}
		&.-cyan {background-color: $cyan}
		&.-purple {background-color: $purple}
		&.-yellow {background-color: $yellow}
		&.-white {background-color: $white}
		&.-light {background-color: $light}
		&.-grey {background-color: $grey}
		&.-dark {background-color: $dark}
		&.-red {background-color: $red}
		&.-olive {background-color: $olive}
	}

	.text {
		position: absolute;
		left:     7px;
		top:      0;

		// display:     inline-block;
		// padding:     0 5px;
		// position:    relative;
		// z-index:     1;
		// text-shadow: none;
		// font-size:   12px;
		// line-height: 14px;
		// height:      14px;
		// background:  rgba(0,0,0,.3);
		// @include border-radius(10px);
	}
	.percents {
		position: absolute;
		right:    7px;
		top:      0;
	}

	&.-blue {background-color: $blue}
	&.-green {background-color: $green}
	&.-cyan {background-color: $cyan}
	&.-purple {background-color: $purple}
	&.-yellow {background-color: $yellow}
	&.-white {background-color: $white}
	&.-light {background-color: $light}
	&.-grey {background-color: $grey}
	&.-dark {background-color: $dark}
	&.-red {background-color: $red}
	&.-olive {background-color: $olive}
}

