/**************************************************************************
	components/modals
**************************************************************************/

.modal-content, .modal-data, .modal-close {display:none;}

/* Overlay */
#modal_overlay {background-color:#000;}

/* Container */
#modal_container {
	overflow:   hidden;
	background: #eee image-url('bg-body.png');
	color:      #000;
	width:      600px;
	// margin-top: -100px;

	@include border-radius(6px);
	@include box-shadow(0 0 64px #000);

	.modal-title {
		color:       $light;
		background:  image-url('bg-navbar.png') repeat-x 0 100%;
		padding:     16px 60px 18px 20px;
		height:      22px;
		line-height: 22px;
		overflow:    hidden;
	}

	.modal-close {
		position:   absolute;
		right:      15px;
		top:        15px;
		height:     30px;
		width:      30px;
		padding:    0;
		background: rgba(0,0,0,.1) image-url('icons-20/remove.png') no-repeat 50% 50%;
		cursor:     pointer;

		@include border-radius(100px);

		&:hover {
			@include opacity(.5);
		}
	}


	.modal-data {
		// font-size: 12px;
		padding:      20px;
	}

	// h2 {margin:10px 0 6px;}
	// p {margin-bottom:10px;}
	// span {color:#777;}
}



.modal-slider {
	height: 190px;
	// overflow: hidden;
	.slide {
		.panel-header {
			font-size: 14px;
			padding-bottom: 4px;
			line-height: 18px;
		}
		.thumb {
			margin-bottom: 0;
		}
	}
}