.resource {
	text-align: center;
	padding-bottom: 50px;

	.resource-title {
		font-weight: bold;
		// color: #333;
		margin: 0 0 10px 0;
	}

	&.-lock {
		@include opacity(.5);
		* {
			cursor: default !important;
		}
		& .thumb:after {
			content:    ' ';
			background: image-url('lock.png') no-repeat 50% 50%;
			position:   absolute;
			top:        0;
			left:       0;
			width:      100%;
			height:     100%;
			z-index:    1;
		}
	}

	.thumb {
		position: relative;
		height:   140px;
		display:  block;
		width:    auto;
		padding:  10px;
		margin: 0;

		&.-small {
			height:   100px;
			img {
				width: 100px;
			}
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}
}