.btn
	display          inline-block
	height           40px
	line-height      @height
	font-size        $font-size
	padding          0 11px
	border-radius    3px
	box-shadow       inset 0 -2px 0 #0002
	background-color #777
	color            $lighten
	cursor           pointer
	margin-right     5px

	&:last-child
		margin-right 0

	&.-grey
	&.-dark
	&.-darken
		box-shadow inset 0 -2px 0 #0005

	colors()

	&:hover
		opacity .9

	&.-flat
		box-shadow none
	&.-unhover
		cursor default
		&:hover
			opacity 1

//-------------------------------------------------------------------------

.label
	display          inline-block
	height           auto
	line-height      $line-height
	font-size        13px
	padding          0 6px
	border-radius    3px
	box-shadow       inset 0 2px 0 #0002, inset 0 0 1px #0002, 0 1px 0 #FFF1
	background-color #0002
	cursor           pointer
	text-shadow      none
	colors()