.news

	.news-row
		clearfix()
		background    $light
		margin-bottom 20px
		padding       20px
		border-radius 4px
		box-shadow    inset 0 -2px 0 #0001
		position      relative
		padding-left  200px
		min-height    140px

		colors()

		.btn
			margin-bottom 0

		.btn-close
			display       block
			background    darken($light, 20) image-url('icons-20/remove.png') no-repeat 50% 50%
			width         23px
			height        23px
			absolute      right 10px top 10px
			border-radius 20px
			cursor        pointer

			&:hover
				background-color $orange

		.pull-right
			absolute bottom 10px right 10px

		.thumb
			absolute      left 0 top 0
			display       block
			width         140px
			height        100%
			line-height   @width
			text-align    center
			background    darken($light, 30)
			padding       0 20px
			border-radius 4px 0 0 4px
			box-shadow    inset -3px 0 0 #0001

			img
				margin-top    20px
				border-radius 2px
				display       block
				max-width     @width
				max-height    @width

		h3
			font-size 18px
			font-weight normal
			margin 0 0 15px

	dl
		dt
			float left
		dd
			float right
