$row-height = 60px
.ratio
	.ratio-row
		//            clearfix()
		height        $row-height
		background    #f7f7f7
		border        1px solid #dcdcdc
		box-shadow    0 1px 2px #0001
		margin-bottom 6px
		border-radius 4px
		white-space   nowrap
		position      relative

		&.-current
			    box-shadow 0 1px 2px #0001, inset 0 0 10px rgba($orange, .3)
			border 3px solid $orange
			margin 0 -3px 6px

		> span
			display        inline-block
			height         $row-height
			width          $row-height
			line-height    $row-height
			text-align     center
			color          #484848
			font-size      18px
			vertical-align top
			position       relative

			&:before
				absolute   left 0 top 0
				content    " "
				height     100%
				width      1px
				background image-url('ratio-row-vdivider.png') no-repeat

			img
				display        inline
				vertical-align middle

		.place
			font-size 30px

			&:before
				background none

			&.-place-1
				background image-url('ratio-place-bg.png') no-repeat 50% 7px
			&.-place-2
				background image-url('ratio-place-bg.png') no-repeat 50% -64px
			&.-place-3
				background image-url('ratio-place-bg.png') no-repeat 50% -133px

		.change
			color        #FFF
			font-size    11px
			width        30px
			margin-right 15px

			&:before
				background none
			&.-up
				line-height $row-height + 12
				background image-url('ratio-place-up.png') no-repeat 50% 50%
			&.-down
				line-height $row-height - 12
				background image-url('ratio-place-down.png') no-repeat 50% 50%
			&.-same
				hide-text()
				background image-url('ratio-place-same.png') no-repeat 50% 50%

		// .league

		.level
			color      #FFF
			background image-url('ratio-level-bg.png') no-repeat 50% 50%

		.user
			width      auto
			text-align left
			padding    0 20px
			font-size  16px
			img.avatar
				margin-right  10px
				border-radius 3px
				box-shadow    0 1px 1px #0003, inset 0 0 1px #F00
				// border        3px solid #777
		.ratio
			color    $orange
			absolute top 0 right 0
			//       float right

.ratio-legend
	// clearfix()
	background    image-url('bg-btn-navbar.png')
	border-radius 4px
	height        510px
	position relative

	&:before
		content    " "
		absolute   top 50% left 0
		width      100%
		height     1px
		background #FFF2
		margin-top -8px

	table
		border-collapse collapse
		height          510px
		width           100%
		position        relative

	td
		background none
		padding    0
		border-left 1px solid #FFF1

		div
			background image-url('ratio-legend-bg.png') no-repeat -25px 50%
			height     510px
			width      78px
			margin     0 auto
			color      #fff
			position   relative

		.title
		.count
			// absolute left 50%
			position absolute
			text-align center
		.title
			width 100%
			font-size 16px
			text-shadow 0 1px 1px #0003
		.count
			background    $orange
			border-radius 3px
			left          50%
			width         32px
			margin-left   -(@width/2)

		&.platinum div
			background-position  -25 - 115px * 6 50%
			.title
				top 30px
			.count
				top 135px
		&.gold div
			background-position  -25 - 115px * 5 50%
			.title
				top 80px
			.count
				top 185px
		&.silver div
			background-position  -25 - 115px * 4 50%
			.title
				top 130px
			.count
				top 235px
		&.bronze div
			background-position  -25 - 115px * 3 50%
			.title
				top 190px
			.count
				top 295px
		&.stone div
			background-position  -25 - 115px * 2 50%
			.title
				top 250px
			.count
				top 355px
		&.wood div
			background-position  -25 - 115px 50%
			.title
				top 300px
			.count
				top 405px
		&.stub div
			.title
				top 360px
			.count
				top 465px