/**************************************************************************
	base/common
**************************************************************************/

body {
	background: image-url('bg-body.png');
}

.container {
	@include container;
}

.pull-right {
	display: block;
	float: right;
}
.pull-left {
	display: block;
	float: left;
}
.center {
	display: block;
	margin: 0 auto;
}

.-left {
	float: left;
}
.-right {
	float: right;
}

.-radius {
	@include border-radius(2px)
}

hr {
	border:        none;
	border-bottom: 1px solid lighten($grey, 50%);
	margin: 50px 0;
}

//-------------------------------------------------------------------------

.balance {
	margin-top: 5px;
	@include inline-block();

	.coin {
		background:   image-url('coin.png') no-repeat;
		width:        40px;
		height:       40px;
		float:        left;
		margin-right: 5px;
	}
	.digit-group {
		display: block;
		float:   left;
		height:  30px;
		margin:  5px 3px 0 0;
	}
	.digit {
		background:  image-url('digits.png') no-repeat;
		width:       20px;
		height:      30px;
		display:     block;
		float:       left;
		margin-left: 1px;

		@include border-radius(3px);
	}
}

.btn-group.selector {
	.btn.selector-value {
		padding-left: 10px;
		padding-right: 10px;
	}
}

//-------------------------------------------------------------------------

.hide {
	display: none;
}
.show {
	display: inherit;
}

//-------------------------------------------------------------------------

.text-small {font-size: 12px}
.text-normal {font-size: $font-size}
.text-large {font-size: $font-size + 4}

.text-center {text-align: center !important;}
.text-left {text-align:   left !important;}
.text-right {text-align:  right !important;}

.-disabled {
	@include opacity(.5)
}

.text-white {color:#FFF}
.price {
	background:   image-url('coin-bw.png') no-repeat 0 50%;
	padding-left: 25px;
	height:       23px;
	line-height:  23px;
	font-weight:  bold;

	@include inline-block;
}


.padding-0 {padding:0 !important}

//-------------------------------------------------------------------------

.-color-1, .-bg-blue {background-color: $color1 !important; color: #FFF}
.-color-2, .-bg-green {background-color: $color2 !important; color: #FFF}
.-color-3, .-bg-cyan {background-color: $color3 !important; color: #FFF}
.-color-4, .-bg-purple {background-color: $color4 !important; color: #FFF}
.-color-5, .-bg-yellow {background-color: $color5 !important; color: #FFF}
.-color-6, .-bg-red {background-color: $color6 !important; color: #FFF}
.-color-7, .-bg-olive {background-color: $color7 !important; color: #FFF}

.-text-color-1, .-text-blue {color: $blue !important}
.-text-color-2, .-text-green {color: $green !important}
.-text-color-3, .-text-cyan {color: $cyan !important}
.-text-color-4, .-text-purple {color: $purple !important}
.-text-color-5, .-text-yellow{color: $yellow !important}
.-text-color-6, .-text-red {color: $red !important}
.-text-color-7, .-text-olive {color: $olive !important}


//-------------------------------------------------------------------------

.label.-factory-power {
	position:    absolute;
	width:       140px;
	padding:     0;
	text-align:  center;
	margin-left: -70px;
	top:         180px;
	left:        50%;
}