/**************************************************************************
	base/table
**************************************************************************/

table {
	@extend %default-font;
	border-collapse: separate;
	border-spacing:  0 2px;
	font-size:       12px;
	margin-bottom:   3px;

	&.-wide {
		width: 100%;
	}
	&.-text-middle {
		td, th {
			vertical-align: middle;
		}
	}
	td, th {
		background: #ebebeb;
		padding: 5px;

		&:first-child {
			@include border-radius(2px 0 0 2px)
		}
		&:last-child {
			@include border-radius(0 2px 2px 0)
		}

		> *,
		.btn,
		.btn-group {
			margin-bottom: 0;
		}
	}
	.icon {
		// line-height: 10px;
		// vertical-align: top

	}
	th {
		padding: 10px 5px;
	}

	img {
		display: block;
	}
	.thumb {margin:0}
	.-grabpad {margin: -5px}
	.-grabvpad {margin:-5px 0}
	.-grabhpad {margin:0 -5px}

	&.-dark {
		th {
			background: #272b2c;
			color:      mix(#272b2c, #FFF, 60%);
		}
		td {
			background: #393e3f;
			color:      #FFF;
		}
	}

	th.-compact,
	td.-compact {
		width: 1%;
	}
}