/**************************************************************************
	base/typography
**************************************************************************/

body {
	@extend %default-font;
}

//-------------------------------------------------------------------------
// Body text
//-------------------------------------------------------------------------

p {
	margin: 0 0 0 0;
}

// Emphasis & misc
small {
	font-size: 85%;
}

// Undo browser default styling
cite {
	font-style: normal;
}


//-------------------------------------------------------------------------
// Alignment
//-------------------------------------------------------------------------
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

//-------------------------------------------------------------------------
// Headings
//-------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	// font-family: $headings-font-family;
	// font-weight: $headings-font-weight;
	// line-height: $headings-line-height;
	// color:       $headings-color;
}
h1, .h1 {font-size: $h1-font-size;}
h2, .h2 {font-size: $h2-font-size;}
h3, .h3 {font-size: $h3-font-size;}
h4, .h4 {font-size: $h4-font-size;}
h5, .h5 {font-size: $h5-font-size;}
h6, .h6 {font-size: $h6-font-size;}



h1, .h2 {
	font-size:   19px;
	font-weight: normal;
	color:       #5f676a;
	text-align:  center;
	padding:     20px;
}

h2, .h2 {
	color:      darken(#5f676a, 15%);
	text-align: center;
	font-size:  16px;
	margin:     20px 0 10px;

}


//-------------------------------------------------------------------------
// Lists
//-------------------------------------------------------------------------

// Unordered and Ordered lists
ul, ol {
	margin-top: 0;
	// margin-bottom: (@line-height-computed / 2);
	ul,
	ol{
		margin-bottom: 0;
	}
}

// List options
// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
	padding-left: 0;
	list-style:   none;
}
// Inline turns list items into inline-block
.list-inline {
	padding-left: 0;
	list-style:   none;

	> li {
		display:       inline-block;
		padding-left:  5px;
		padding-right: 5px;
	}
}

//-------------------------------------------------------------------------
// Description Lists
//-------------------------------------------------------------------------
dl {
	// margin-bottom: @line-height-computed;
}
dt, dd {
	// line-height: @line-height-base;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0; // Undo browser default
}

//-------------------------------------------------------------------------
// MISC
//-------------------------------------------------------------------------

// Blockquotes
blockquote {

	// Quotes
	&:before, &:after {
		content: "";
	}
}

// Addresses
address {}