body
	font-family $font-family
	font-size   $font-size
	line-height $line-height

.container
	max-width  $container-width
	margin 0 auto
	padding 0

// Some elements
.price
	display             inline-block
	background-image    image-url('coin-bw.png')
	background-repeat   no-repeat
	background-position 0 50%
	line-height         @height
	padding-left        26px
	border-radius       3px
	height              23px
	line-height         $line-height
	font-weight         normal

// text-*
.text-orange
	color $orange
.text-blue
	color $blue
.text-green
	color $green
.text-cyan
	color $cyan
.text-purple
	color $purple
.text-yellow
	color $yellow
.text-red
	color $red
.text-olive
	color $olive
.text-white
	color $white
.text-lighten
	color $lighten
.text-light
	color $light
.text-grey
	color $grey
.text-dark
	color $dark
.text-darken
	color $darken

// bg-*
.bg-orange
	color            $white
	background-color $orange
.bg-blue
	color            $white
	background-color $blue
.bg-green
	color            $white
	background-color $green
.bg-cyan
	color            $white
	background-color $cyan
.bg-purple
	color            $white
	background-color $purple
.bg-yellow
	color            $white
	background-color $yellow
.bg-red
	color            $white
	background-color $red
.bg-olive
	color            $white
	background-color $olive
.bg-white
	background-color $white
.bg-lighten
	background-color $lighten
.bg-light
	background-color $light
.bg-grey
	color            $white
	background-color $grey
.bg-dark
	color            $white
	background-color $dark
.bg-darken
	color            $white
	background-color $darken
