.table
	border-collapse collapse
	border          none
	background      none
	margin          10px 0
	border-top      1px solid darken($light, 10)

	th
		color #777
	th
	td
		font-size 14px
		border none
		background $lighten
		background none
		padding 5px
		border-bottom 1px solid darken($light, 10)

	&.table-list
		th
			padding-left 0
		td
			font-weight   bold
			text-align    right
			padding-right 0