/**************************************************************************
	ui/icons
**************************************************************************/


.icon {
	width:             20px;
	height:            20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	@include inline-block;
}

.icon.-remove {background-image: image-url('icons-20/remove.png')}
.icon.-handshake {background-image: image-url('icons-20/handshake.png')}
.icon.-info {background-image: image-url('icons-20/info.png')}
.icon.-info-dark {background-image: image-url('icons-20/info-dark.png')}
.icon.-plus {background-image: image-url('icons-20/plus.png')}
.icon.-minus {background-image: image-url('icons-20/minus.png')}
.icon.-door-open {background-image: image-url('icons-20/door-open.png')}

.icon.-arrow-left {background-image: image-url('icons-20/arrow-left.png')}
.icon.-arrow-right {background-image: image-url('icons-20/arrow-right.png')}
.icon.-arrow-up {background-image: image-url('icons-20/arrow-up.png')}
.icon.-arrow-down {background-image: image-url('icons-20/arrow-down.png')}

.icon.-reload {background-image: image-url('icons-20/reload.png')}
.icon.-improvement {background-image: image-url('icons-20/improvement.png')}
.icon.-edit {background-image: image-url('icons-20/edit.png')}
.icon.-tick {background-image: image-url('icons-20/tick.png')}