/**************************************************************************
	ui/navbar
**************************************************************************/

// .navbar {
// 	background: image-url('bg-navbar.png') repeat-x 50% 0;
// 	height:     123px;
// 	position:   relative;

// 	.navbar-content {
// 		height: 70px;
// 		padding: 15px 0 0 0;
// 		@include box-sizing(border-box);

// 		.divider {
// 			display:      block;
// 			float:        left;
// 			height:       70px;
// 			margin:       -15px 15px 0;
// 			border-right: 1px solid rgba(255,255,255,.15);
// 			border-left:  1px solid rgba(0,0,0,.15);
// 		}
// 	}

// 	.logo {
// 		background:  image-url('logo-navbar.png') repeat-x 50% 0;
// 		position:    absolute;
// 		width:       119px;
// 		height:      104px;
// 		top:         0;
// 		left:        50%;
// 		margin-left: -63px;
// 	}

// 	.btn, .btn-group {
// 		background:  image-url('bg-btn-navbar.png');
// 		height:      40px;
// 		line-height: 40px;
// 		display:     block;
// 		float:       left;
// 		// @include inline-block;
// 		@include border-radius(4px);
// 	}
// 	.btn-group {
// 		padding-left: 3px;
// 		overflow:     visible;
// 		@include box-shadow(0 1px 0 rgba(255,255,255,.2), 0 0 3px rgba(0,0,0,.5) inset);
// 	}
// 	.btn {
// 		color:           #ffe7d7;
// 		font-size:       16px;
// 		text-shadow:     0 1px 3px #000;
// 		text-decoration: none;
// 		padding:         0 15px;
// 		border:          none;

// 		img {
// 			margin: 0;
// 		}
// 	}
// 	.btn-group .btn {
// 		display:     block;
// 		float:       left;
// 		margin:      3px 3px 0 0;
// 		height:      34px;
// 		line-height: 35px;

// 		@include border-radius(2px);

// 		&:hover {
// 			background: rgba(255,255,255,.2);
// 		}
// 		&.-active, &.-active:hover {
// 			color:       #8b2400;
// 			background:  #f2e1cc;
// 			text-shadow: none;

// 			@include box-shadow(0 0 20px rgba(255,255,255,.7) inset);
// 		}
// 	}
// 	.btn-group.-message-count {
// 		position: relative;

// 		.caret {
// 			position:   absolute;
// 			background: image-url('btn-caret.png');
// 			width:      9px;
// 			height:     5px;
// 			bottom:     -5px;
// 			left:       50%;
// 			margin:     0 0 0 -4px;

// 		}
// 	}
// 	.btn-group.-user .btn {
// 		padding: 0px;
// 	}





.header {
	margin-bottom: 50px !important;
}
.navbar-footer {
	background:    image-url('topbar-bg.png');
	box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 -1px 0 rgba(0,0,0,.4);
	height:        51px;
	position:      fixed;
	width:         100%;
	margin-top:    -50px;
	// margin-bottom: 30px;
	z-index:       100;

	.btn {
		@include inline-block();
		float:            none;
		margin-top:       9px;
		margin-left:      10px;
		vertical-align:   top;
		background-image: none;
		color:            #FFF;
		text-shadow:      none;
		height:           32px;
		line-height:      32px;
		background: image-url('bg-navbar.png') repeat-x 50% 0;
		@include box-shadow(inset 0 1px 1px rgba(255,255,255,.3) !important)
	}

	.game-progress {
		background: image-url('bg-progress-250.png') no-repeat 0 0;
		height:     45px;
		width:      289px;
		float:      left;
		position:   relative;
		margin:     3px 0 0 6px;

		.progress-bar {
			width:         214px;
			// height:     100%;
			background:    none;
			position:      absolute;
			top:           15px;
			left:          39px;
			padding:       0;
			margin:        0;
			border-radius: 0;

			.progress {
				// box-sizing: border-box;
				background:    image-url('bg-progress-bar-250.png') no-repeat;
				width:         100%;
				height:        14px;
				// position:   absolute;
				border-radius: 0 2px 2px 0;
				text-align:    center;
				line-height:   14px;
				font-size:     10px;
				color:         #201B15;
				font-weight:   bold;
				text-shadow:   0 1px 0 rgba(255,255,255,.3);
			}
		}
		.game-ratio {
			width:       43px;
			height:      100%;
			line-height: 45px;
			text-align:  center;
			color:       #FFF;
			font-size:   16px;
			position:    relative;
			z-index:     1;
			text-shadow:   0 1px 1px rgba(0,0,0,.3);
		}
		.game-ratio-target {
			position:    absolute;
			right:       0;
			top:         15px;
			height:      14px;
			line-height: 14px;
			text-align:  center;
			width:       40px;
			font-size:   10px;
			color:       #fff;
			font-weight: bold;
			text-shadow: 0 1px 1px rgba(0,0,0,.3);
			opacity:     0.8;
		}
	}

	.ratio {
		background:  image-url('bg-ratio-navbar.png');
		width:       42px;
		height:      42px;
		margin-top:  5px;
		color:       #d45e04;
		font-size:   22px;
		text-align:  center;
		line-height: 42px;
		font-family: Arial;
		float: left;
	}

	.digit.-d1 {background-position: 0 (- 30px * 1)}
	.digit.-d2 {background-position: 0 (- 30px * 2)}
	.digit.-d3 {background-position: 0 (- 30px * 3)}
	.digit.-d4 {background-position: 0 (- 30px * 4)}
	.digit.-d5 {background-position: 0 (- 30px * 5)}
	.digit.-d6 {background-position: 0 (- 30px * 6)}
	.digit.-d7 {background-position: 0 (- 30px * 7)}
	.digit.-d8 {background-position: 0 (- 30px * 8)}
	.digit.-d9 {background-position: 0 (- 30px * 9)}

	.digit.-arrows {background-position: 0 (- 30px * 10)}
	.digit.-arrows-down {background-position: 0 (- 30px * 11)}
	.digit.-arrows-up {background-position: 0 (- 30px * 12)}


	.gold-coin {
		background:     image-url('gold-coin.png') no-repeat 50% 50%;
		width:          34px;
		height:         34px;
		line-height:    34px;
		text-align:     center;
		font-size:      16px;
		font-weight:    bold;
		color:          #602E02;
		text-shadow:    0 1px 1px rgba(255,255,255,.5);
		display:        inline-block;
		vertical-align: top;
		margin:         8px 0 0 6px;

		transition:       all .5s linear;
		transform-style:  preserve-3d;
		transform-origin: center center;

		&.flip {
			transform: rotateY( 360deg );
		}
	}
	.game-move {
		background:    #e06700;
		box-shadow:    0 1px 2px rgba(0,0,0,.2) !important;
		padding-right: 0;
		overflow:      hidden;
		font-weight:   bold;
		&,* {
			font-size: 17px;
		}
		&:hover small {
			padding:     0 10px 0 15px;
			margin-left: 5px;
		}
		small {
			transition:  all .2s;
			position:    relative;
			font-weight: normal;
			display:     inline-block;
			background:  #da5200;
			padding:     0 10px 0 20px;
			color:       #FFCFA3;

			&:before, &:after {
				position:     absolute;
				content:      '';
				border-style: solid;
				border-right: none;
				border-color: transparent #FFF;
				border-width: 20px 10px;
				top:          50%;
				left:         2px;
				margin-top:   -20px;
			}
			&:after {
				left:         0;
				border-color: transparent #e06700;
			}
		}
	}
}