/**************************************************************************
	ui/panels
**************************************************************************/

.panel {
	@include box-sizing(border-box);

	margin-bottom: 15px;
	position:      relative;
	overflow:      hidden;

	&.-dark-trans,
	&.-white-trans,
	&.-blue,
	&.-green,
	&.-cyan,
	&.-purple,
	&.-yellow,
	&.-red,
	&.-olive,
	&.-white,
	&.-light,
	&.-grey,
	&.-dark {
		@include box-shadow(inset 0 1px 2px rgba(0,0,0,.3));
		@include border-radius(4px);
		padding: 3px;
		color:   #FFF;
	}
	&.-dark-trans {
		background: rgba(0,0,0,.4);
	}
	&.-white-trans,
	&.-white {
		@include box-shadow(0 1px 3px rgba(0,0,0,.2));
	}
	&.-white-trans {
		color:#393e3f;
		background: rgba(255,255,255,.5);
	}

	&.-blue {background-color: $blue; color:#FFF; border-color:darken($blue, 10%)}
	&.-green {background-color: $green; color:#FFF; border-color:darken($green, 10%)}
	&.-cyan {background-color: $cyan; color:#FFF; border-color:darken($cyan, 10%)}
	&.-purple {background-color: $purple; color:#FFF; border-color:darken($purple, 10%)}
	&.-yellow {background-color: $yellow; color:#FFF; border-color:darken($yellow, 10%)}
	&.-red {background-color: $red; color:#FFF; border-color:darken($red, 10%)}
	&.-olive {background-color: $olive; color:#FFF; border-color:darken($olive, 10%)}
	&.-white {background-color: $white; color:#393e3f; border-color:darken($white, 10%)}
	&.-light {background-color: darken($light, 5%); color:#393e3f; border-color:darken($light, 15%)}
	&.-grey {background-color: $grey; color:#FFF; border-color:darken($grey, 10%)}
	&.-dark {background-color: $dark; color:#FFF; border-color:darken($dark, 10%)}

	&.-staff {
		min-height: 150px;

		&.-small {
			min-height: 100px;
			img {
				margin-left: -50px;
				left:        15%;
				height:      100px;
				top:         50%;
				margin-top: -50px;
			}
			.info {
				width: 70%;
			}
		}

		img {
			max-height:    100%;
			position:      absolute;
			top:           50%;
			left:          20%;
			margin-top:    -70px;
			margin-left:   -70px;

			@include border-radius(200px);
		}

		.info {
			width:      60%;
			position:   relative;
			float:      right;
			text-align: center;
			z-index:    1;
			.label {
				min-width: 50px;
			}
		}
		.btn .label {
			min-width: 0;
		}

		.username {
			position: absolute;
			text-align: center;
			width: 50%;
			text-decoration: none;
			color: $light;
			font-size: 13px;
		}


	}

	&.-staff-org,
	&.-btn-panel,
	&.-thumb {
		padding: 10px;
		> .panel-header {
			margin-top: -10px;
		}
		.row-2, .row-3, .row-4 {
			margin-bottom: -10px;
		}
		> *:last-child {
			margin-bottom: 0 !important;
		}
	}

	.panel-header {
		font-size:   16px;
		text-align:  center;
		padding:     10px;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);

		.label {
			margin-top: -1px;
		}
	}
	&.-white,
	&.-white-trans,
	&.-light {
		.panel-header {
			text-shadow: 0 1px 1px rgba(255,255,255,.3);
		}
	}

	.icon.-info {
		position: absolute;
		top:      5px;
		left:     5px;
		width:    20px;
		height:   20px;
		z-index:  2;
		@include opacity(.3);
		&:hover {
			@include opacity(1);
		}
	}
	.badge {
		position: absolute;
		top:      5px;
		right:    5px;
		margin:   0;
		z-index:  2;
	}
	.panel-controls {
		position: absolute;
		top:      5px;
		left:     5px;
		width:    auto;
		height:   20px;

		.icon {
			width:    20px;
			height:   20px;
			position: static;
			@include opacity(.3);
			&:hover {
				@include opacity(1);
			}
		}
	}

	.selector {
		position:    absolute;
		top:         5px;
		left:        25%;
		margin-left: -35px;
	}

	.info {
		li {
			background: image-url('info-h-divider.png') repeat-x 0 100%;
			padding: 3px 8px 5px;

			&:last-child {
				background: none;
				padding-bottom: 3px;
			}
			.btn, .btn-group {
				margin: 5px 0;
			}
			.btn-group .btn {
				margin: 0;
			}
			dl {
				font-size: 13px;
				@include clearfix;
			}
			dt {
				float:left;
				color:#afb0b0;
				font-weight: normal;
			}
			dd {
				float: right;
			}
		}
	}
	> .panel:last-child {
		margin-bottom: 0;
	}
	h3 {
		border-bottom: 1px solid rgba(0,0,0,.1);
		padding: 10px 20px;
		margin-bottom: 20px;
	}

	&.-list {
		padding: 0;
		> * {
			display: block;
			padding: 5px 10px;
			border-bottom: 1px solid rgba(0,0,0,.1);
			cursor: pointer;
			&:last-child {
				border: none;
			}
			&:hover {
				background-color: $light;
			}
		}
		> label {
			padding-left: 30px;
			input[type=radio], input[type=checkbox] {
				float: left;
				margin-left: -20px;
			}
		}
		.thumb {
			float:      right;
			display:    block;
			border:     none;
			padding:    10px;
			background: #FFF;
			margin:     0;
			@include box-shadow(-5px 0 5px #FFF);
			img {
				@include border-radius(3px);
				margin: 0;
				max-height:200px;
			}
		}
	}

	&.-product {

		.thumb {
			margin: 3px;
		}
		.selector {
			left: inherit;
			right: 0;
		}
		.title {
			// float: left;
			vertical-align: middle;
			display: inline
			// position: absolute;
			// right: 0;
			// top: 30px;
			// width: 70%;
			// text-align: center;
		}
	}

	.btn_more {
		display:         block;
		clear:           both;
		background:      $grey;
		color:           #FFF;
		line-height:     50px;
		height:          50px;
		margin:          0 -3px -3px;
		text-align:      center;
		text-decoration: none;
		font-size:       16px;
		border-top:      3px solid darken($dark, 10%);
		@include border-radius(0 0 3px 3px);

		&:hover {
			@include box-shadow(0 0 15px rgba(255,255,255,.3) inset, 0 0 5px rgba(0,0,0,.3));
			position: relative;
			z-index: 1;
		}

		&.-blue {background-color: $blue; color:#FFF; border-color:darken($blue, 10%)}
		&.-green {background-color: $green; color:#FFF; border-color:darken($green, 10%)}
		&.-cyan {background-color: $cyan; color:#FFF; border-color:darken($cyan, 10%)}
		&.-purple {background-color: $purple; color:#FFF; border-color:darken($purple, 10%)}
		&.-yellow{background-color: $yellow; color:#FFF; border-color:darken($yellow, 10%)}
		&.-red{background-color: $red; color:#FFF; border-color:darken($red, 10%)}
		&.-olive{background-color: $olive; color:#FFF; border-color:darken($olive, 10%)}

		&.-white{background-color: $white; color:#393e3f; border-color:darken($white, 10%)}
		&.-light{background-color: $light; color:#393e3f; border-color:darken($light, 10%)}
		&.-grey{background-color: $grey; color:#FFF; border-color:darken($grey, 10%)}
		&.-dark{background-color: $dark; color:#FFF; border-color:darken($dark, 10%)}
	}

	.footer {
		display:         block;
		clear:           both;
		background:      darken($dark, 5%);
		color:           #FFF;
		min-height:      50px;
		margin:          0 -3px -3px;
		text-align:      center;
		text-decoration: none;
		font-size:       16px;

		.btn {
			margin: 5px 2.5px;
		}
	}
}

.thumb {
	position: relative;
	margin-bottom: 10px;
	@include inline-block;
	@include clearfix;

	&.-circle {
		img {
			@include border-radius(9999px)
		}
	}

	&.-left {
		float: left;
		margin-right: 10px;
	}
	img {
		display: block;
	}
	.caption {
		position:    absolute;
		bottom:      0;
		left:        0;
		width:       100%;
		min-height:  25px;
		padding:     14px 0 0 0;
		text-align:  center;
		color:       #FFF;
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
		background:  image-url('thumb-caption-bg.png') repeat-x 0 0;
		z-index:     2;
	}
	.lock {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include box-shadow(inset 0 0 50px rgba(0,0,0,1));
	}

	&.-lock {
		img {
			@include opacity(.5);
		}
		.caption {
			@include opacity(.7);
		}
		.lock {
			background: image-url('lock.png') no-repeat 50% 40%;
		}
	}
}
a.thumb:hover {
	.lock {
		@include box-shadow(inset 0 0 30px rgba(0,0,0,.5));
	}
}


.slide .panel-header {padding: 0;}

.resources {
	background: image-url('info-h-divider.png') repeat-x 0 0;
	padding-top:5px;

	.res {
		display: block;
		float:   left;
		position: relative;
		padding: 17px 3px 0 0;

		img {
			display: block;
		}
		.count {
			display:       block;
			width:         30px;
			line-height:   16px;
			height:        16px;
			position:      absolute;
			top:           0;
			left:          4px;
			background:    #bf4300;
			border:        1px solid #bf4300;
			border-bottom: none;
			font-size:     11px;
			text-align:    center;

			@include box-shadow(inset 0 2px 10px #a40000);
			@include border-radius(2px 2px 0 0);
		}
	}
}