/**************************************************************************
	ui/tabs
**************************************************************************/

.tabs {
	margin: -3px 0 0 0;
	background: image-url('bg-tabs.png') no-repeat 50% 0;

	ul {
		@include container;
		text-align: center;
		height:     41px;
		padding-top: 3px;

		li {
			@include inline-block;
			margin-right: -6px;

			&:first-child {
				background: image-url('tabs-divider.png') no-repeat 0 100%;
			}

			a {
				background:      image-url('tabs-divider.png') no-repeat 100% 100%;
				display:         block;
				height:          37px;
				line-height:     37px;
				padding:         0 30px;
				text-transform:  uppercase;
				text-decoration: none;
				color:           #434546;
				font-size:       13px;

				&:hover {
					background-color: rgba(0,0,0,.05);
				}
			}
		}
	}
}

.subtabs {
	background: image-url('subtabs-h-divider.png') no-repeat 50% 100%;
	margin-top: -5px;

	> ul {
		@include container;

		text-align: center;
		height:     34px;
		padding-top: 2px;

		> li {
			height:  34px;
			background: image-url('tabs-divider.png') no-repeat 100% 100%;
			margin-left: -6px;
			position: relative;

			@include inline-block;

			&:first-child > a {
				background: image-url('tabs-divider.png') no-repeat 0 100%;
			}

			> a {
				display:         block;
				height:          34px;
				line-height:     34px;
				padding:         0 15px;
				text-decoration: none;
				color:           #434546;
				font-size:       12px;

				&:hover {

				}
			}
			&.-active {
				background: #809197;
				
				> a {
					text-shadow: 0 1px 1px rgba(0,0,0,.2);
					color: #FFF;
				}
				// @include box-shadow(0 1px 3px rgba(0,0,0,.2) inset);
				// @include border-radius(100px);
			}
			&:hover > ul {display: block;}
			> ul {
				display: none;
				position: absolute;
				left: 0;
				z-index: 1;
				background: image-url('bg-btn-navbar.png');
				@include box-shadow(0 0 21px rgba(0,0,0,.3));


				a {
					text-decoration: none;
					color: #FFF;
					display: block;
					padding: 4px 20px;
					border-bottom: 1px solid rgba(255,255,255,.1);
					min-width: 50px;
					font-size: 12px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}