.tooltip 
{
	position: absolute;
	z-index: 2;
	min-width: 50px;
	padding: 3px 10px;
	background: #000;
	color: #FFF;
	font-size: 12px;
	text-align: left;
	
	@include opacity(.8);
	@include border-radius(4px);
	@include box-shadow(0 0 20px rgba(0,0,0,.3));

	&:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 5px 5px;
		border-color: #000 transparent;
		display: block;
		width: 0;
		z-index: 1;
		top: -5px;
		left: 50%;
		margin-left: -5px;
	}
}
